{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascripts/myTools.js' %}"> </script>
{% endblock %}

{% block title %}Création de planches {% endblock %}

{% block content %}

{{ s_msg }}

<div class="BlueFrame"> 
    <p><b>Création d'une collection de planches de même type</b></p>
    <form action="" method="POST">
    {% csrf_token %}
    <table>
    <tr><td>Préfixe (optionnel)</td><td><input style="width: 250px" type="text" value="" name="prefixe"/></td></tr>
    <tr><td>Nombre de planches</td><td><input style="width: 50px" type="text" value="" name="quantite"/></td></tr>
    <tr><td>Numero de la première</td><td><input style="width: 50px" type="text" value="" name="num_prem"/></td></tr>
    <tr><td>Longueur (m)</td><td><input style="width: 50px" type="text" value="" name="longueur_m"/></td></tr>
    <tr><td>Largeur (m)</td><td><input style="width: 50px" type="text" value="" name="largeur_m"/></td></tr>
    <tr><td>Sous Serre</td><td><input type="checkbox" name="bSerre" /></td></tr>
    <tr><td></td><td><input type="submit" value="Sauver" /></td></tr>
    </table>
    </form>
<br/>Les planches seront nommées X_PREFIXE_N°  avec X = C (pour champ) ou S (serre) 
<br/>N° en partant du numéro fourni
</div>
<div class="BlueFrame"> 
<h2>Planches déjà créées</h2>
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2">
    <tr><th>Planche</th><th>Action</th></tr>
    {% for planche in l_planches %}
        <tr>
            <td>{{planche}}</td>
            <td>
                <a href="#" onclick="edite_planche({{planche.id}});return false;">
                    <img  src="{% static 'images/editor.png' %}" 
                          title="Editer la planche"
                          style="online" ></a>
                <a href="#" onclick="supprime_planche({{planche.id}});return false;">
                    <img  src="{% static 'images/toDelete.jpeg' %}" 
                          title="supprimer la planche et toutes les séries qu'elle accueille"
                          style="online" ></a>
            </td>
        </tr/>
    {% endfor %}    
    </table>
</div>
{% endblock %}
