{% extends "base.html" %}

{% block javascript %}

<style>

#date_du_jour
{
    position:absolute;
    width: 2px;
    background: white;
    border: 2px solid blue;   
}

</style>

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/moment-with-locales.min.js"></script>

    <script type="text/javascript">
    
    s_info = ""
    date_debut_vue = "{{date_debut_vue|safe}}"
    date_fin_vue = "{{date_fin_vue|safe}}"
    date_du_jour = "{{date_aujourdhui|safe}}"
    decalage_j = {{decalage_j|safe}}
    NomEvtDeId = {  {% for evtType in l_typesEvt %} '{{evtType.id}}':'{{evtType.nom}}',{% endfor %}  }
    
    
function    init()
    {
    
    document.getElementById("decalage_j").value = decalage_j
    }
    

</script>

{% endblock %}

{% block title %}Liste des événements{% endblock %}

{% block content %}

<p id="divInfoDebug"> </p>

<form action="" method="post" accept-charset="utf-8">
{% csrf_token %}

<input style="margin-left: 20px" type="radio" name="periode" value="aujourdhui" {% if periode == "aujourdhui" %}checked{%endif%} /> Aujourd'hui ({{date_aujourdhui|date:'d/m/Y'}})
<input style="margin-left: 20px" type="radio" name="periode" value="cette_semaine"  {% if periode == "cette_semaine" %}checked{%endif%} />Cette semaine
<input style="margin-left: 20px" type="radio" name="periode" value="specifique"  {% if periode == "specifique" %}checked{%endif%} />Spécifique du 
<input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />

<input  type="radio" name="bEncours" value="on" {% if bEncours %}checked{%endif%} />Juste les évenements non terminés 
<input  type="radio" name="bEncours" value="off" {% if not bEncours %}checked{%endif%} />Tous

<input style="margin-left: 20px" type="submit" value="Envoyer"/>

<div id="main" style="text-align: center" >

<br/><br/>
        {# séries existantes en base #}
        <table>
        <tr><th>Date</th><th>Planche</th><th>Titre</th><th>Terminé</th></tr>
        {% for evt in l_evts %}
           
                <tr id="{{evt.id}}">
                {% if evt.date|date:'d/m/Y' ==  date_aujourdhui|date:'d/m/Y' %}
                    <td class="tdEvt2">{{evt.date|date:'d/m/Y'}}</td>
                    <td class="tdEvt2">{{evt.nom|title}}</td>
                    <td class="tdEvt2">{{evt.txt}}</td>
                {% else %}
                    <td class="tdEvt">{{evt.date|date:'d/m/Y'}}</td>
                    <td class="tdEvt">{{evt.nom|title}}</td>
                    <td class="tdEvt">{{evt.txt}}</td>
                {% endif %}
                    <td class="tdEvt"><input  type="checkbox" name="evt_fin_{{evt.pk}}" {% if evt.b_fini %}checked{%endif%} /></td>
                </tr>
        {% endfor %}
        </table>
</div>
</form>
{% endblock %}
