{% extends "base.html" %}
{% load static %}
{% block pagetitle %}Récoltes estimées{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascripts/myTools.js' %}"> </script>
<script type="text/javascript" >

l_sems = [{% for sem in l_semaines %}"{{sem.date_debut|date:'Y-m-d'}}"{% if not forloop.last %},{% endif %}{% endfor %}]
l_legs = [{% for leg in l_legumes %}{{leg.id}}{% if not forloop.last %},{% endif %}{% endfor %}]
l_especes = [{% for esp in l_especes %}{{esp.id}}{% if not forloop.last %},{% endif %}{% endfor %}]
l_couleur_esp = { {% for esp in l_especes %}{{esp.id}}:"{{esp.couleur}}"{% if not forloop.last %},{% endif %}{% endfor %}}
l_parts_esp = { {% for esp in l_especes %}{{esp.id}}:"{{esp.nbParts}}"{% if not forloop.last %},{% endif %}{% endfor %}}
nbPanniers = {{nbPanniers}}

function enregistreRecolte(ptDiv)
    {
    divRecLeg = document.getElementById("r__sem_" + ptDiv.getAttribute("date") + "__leg_" + ptDiv.getAttribute("leg"))
    rep = requestServer("cde=enregistre_recolte&date_sem=" + ptDiv.getAttribute("date") + "&id_leg=" + ptDiv.getAttribute("leg") + "&qte=" + divRecLeg.value)
    }

function montre_legumes()
    {
    l_lignes = document.getElementsByClassName("detail_legume")
    for (ll=0; ll<l_lignes.length; ll++)
        l_lignes[ll].style.display='table-row'
    }
    
function cache_legumes()
    {
    l_lignes = document.getElementsByClassName("detail_legume")
    for (ll=0; ll<l_lignes.length; ll++)
        l_lignes[ll].style.display = "none"
    }

function init()
    {
    document.getElementById("menu_periode_option_filtre_legume").style.display="none"
    document.getElementById("menu_periode_option_filtre_planche").style.display="none"

    cache_legumes()
    // nettoyage des lignes d'espece inutiles, juste la premiere à garder pour toutes les variétés
    l_aVirer = []
    tab = document.getElementById("tab_legumes")
    for (ee=0; ee<l_especes.length; ee++)
        {
        l_lignes = document.getElementsByClassName("espece_" + l_especes[ee])
        for (ll=1; ll<l_lignes.length; ll++)
            l_aVirer.push(l_lignes[ll])
        }
    for (ll=0; ll<l_aVirer.length; ll++)
        tab.removeChild(l_aVirer[ll])

    // maj poids des legumes par semaine
    // maj constitution du pannier
    poidsTotalTSTL = 0
    
    for (ss=0; ss<l_sems.length; ss++)
        {
        cumulPoidsLeg = 0
        for (ll=0; ll<l_legs.length; ll++)
            {
            idLeg = "sem_" + l_sems[ss] + "__leg_" + l_legs[ll]
            divLeg = document.getElementById(idLeg)
            poidsLeg = parseFloat(divLeg.getAttribute("poids"))
            cumulPoidsLeg += poidsLeg
            }
        document.getElementById("ts_" + l_sems[ss]).innerHTML = parseInt(cumulPoidsLeg)
        document.getElementById("tlpp_" + l_sems[ss]).innerHTML = parseFloat(cumulPoidsLeg/nbPanniers).toFixed(2)
        poidsTotalTSTL += cumulPoidsLeg        
        }
        
    document.getElementById("poidsTotalTSTL").innerHTML = parseInt(poidsTotalTSTL)
        
    // pour chaque légume, total des poids ou quantité de toutes les semaines 
    for (ll=0; ll<l_legs.length; ll++)
        {
        cumul = 0
        for (ss=0;ss<l_sems.length;ss++)
            cumul += parseFloat(document.getElementById("sem_" + l_sems[ss] + "__leg_" + l_legs[ll]).getAttribute("qte"))
        document.getElementById("tl_" + l_legs[ll]).innerHTML = parseInt(cumul)
        }
        
    // total par semaine pour chaque espece (en kg ou pièce)    
    for (ss=0; ss<l_sems.length; ss++)
        {
        listePannier = ""
        for (ee=0; ee<l_especes.length; ee++)
            {
            qte_cecs = 0 // qte chaque espece chaque semaine
            for (ll=0;ll<l_legs.length;ll++)
                {
                divLeg = document.getElementById("sem_" + l_sems[ss] + "__leg_" + l_legs[ll])
                if(l_especes[ee] != parseInt(divLeg.getAttribute("esp_id")))
                    continue 
                qte_cecs += parseInt(divLeg.getAttribute("qte"))
                nomEsp = divLeg.getAttribute("esp_nom")
                uniteEsp = divLeg.getAttribute("esp_unite")
               } 
            //alert(l_sems[ss] + " " + nomEsp)
            if (qte_cecs != 0)
                {
                document.getElementById("sem_" + l_sems[ss] + "__esp_" + l_especes[ee]).innerHTML= qte_cecs
                listePannier += "<div style='display:block'>" + nomEsp + ":" + parseFloat(qte_cecs).toFixed(2)/nbPanniers + "&nbsp;" + uniteEsp.substring(0, 2) + "</div>"
                }  
            }
        document.getElementById("cont_pspp_" + l_sems[ss]).innerHTML = listePannier
        }           

    // total des quantités par espece pour toutes les semaines
    for (ee=0; ee<l_especes.length; ee++)
        {
        idEsp = l_especes[ee]
        qteEsp = 0

        for (ss=0; ss<l_sems.length; ss++)
            {
            for (ll=0;ll<l_legs.length;ll++)
                {
                divLeg = document.getElementById("sem_" + l_sems[ss] + "__leg_" + l_legs[ll])
                if(idEsp != parseInt(divLeg.getAttribute("esp_id")))
                    continue 
                qteEsp += parseFloat(divLeg.getAttribute("qte"))
                //break // on a trouvé le legume pour cette semaine
                } 
            }
        document.getElementById("tets_"+ l_especes[ee]).innerHTML = parseInt(qteEsp)
        }
    }
                

    

</script>

{% endblock %}

{% block title %}Prévision de récoltes et livraisons par semaine{% endblock %}

{% block content %}

    <p id="divInfoDebug">{{info}}</p>
    
    <form action="" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    
    <div class="BlueFrame" style="width:90%;display:block">
    Filtre espèce:<input style="width:60px" type="text" name="s_filtre_espece" value="{{s_filtre_espece}}" />
    <input type="radio" name="detail" value="espece" onclick="cache_legumes()" checked >Par espèce
    <input type="radio" name="detail" value="legume" onclick="montre_legumes()" >Espèces + variété

    {% include "blockMenuPeriode.html" %}


    </div>    
    </form>
    <br/>
    
    <table border="1" >
        <tbody id="tab_legumes">
        <tr><th>Légumes/Semaines</th>
            {% for semaine in l_semaines %}
                <td align="center">Semaine {{semaine.date_debut_sem_iso}}<br/>du {{semaine.date_debut|date:'d/m/Y'}}<br/>au {{semaine.date_fin|date:'d/m/Y'}}</td>
            {% endfor %}
            <th align="center">Total (kg)</th>
        </tr>
        
        {% for leg in l_legumes %}
        
        {# ligne de recap par espece , seule la première ligne sera gardée via javascript #}
        <tr class="espece_{{leg.espece.id}}">
            <td style="border:5px solid {{leg.espece.couleur}}">{{leg.espece.nom|title}} ({{leg.espece.nomUniteProd}})</td>
            {% for t_prod in leg.l_prod %}
                <td><div id="sem_{{t_prod.0|date:'Y-m-d'}}__esp_{{leg.espece.id}}"  style="text-align: center;border:5px solid {{leg.espece.couleur}}" > </div></td>        
            {% endfor %}
            <td id="tets_{{leg.espece.id}}" style="font-weight:bold;text-align: center" >total par espece</td>
        </tr>
    
        <tr class="detail_legume">
            <td><small>{{leg.nom|title}} ({{leg.espece.nomUniteProd}})</small></td>   
            {% for t_prod in leg.l_prod %}
            <td>{{t_prod.0|date:'d/m/Y'}}<br/>
                <div id="sem_{{t_prod.0|date:'Y-m-d'}}__leg_{{leg.id}}"
                        esp_id="{{leg.espece.id}}"
                        esp_nom="{{leg.espece.nom|title}}"
                        esp_unite="{{leg.espece.nomUniteProd}}"
                        qte="{{t_prod.1}}" 
                        poids="{{t_prod.2}}" 
                        style="border:5px solid {{t_prod.4}}"
                        class="divLeg">
                        Estimé : {{t_prod.1|floatformat:2}}
                </div>
                
                Réel<input  type="text"
                        name="reel"
                        style="width:30px;font-weight:bold;text-align: center" 
                        id="r__sem_{{t_prod.0|date:'Y-m-d'}}__leg_{{leg.id}}"
                        value="{{t_prod.5}}" />
    
                <img    src="{% static 'images/ok.png' %}" 
                        style="width:15px;height:15px;cursor:pointer"
                        date="{{t_prod.0|date:'Y-m-d'}}"
                        leg="{{leg.id}}"
                        title="Valider"
                        onmouseover=""
                        onclick="enregistreRecolte(this);return(false)"
                        />
            </td>
            {% endfor %}
            <td><div style="font-weight:bold;text-align: center" id="tl_{{leg.id}}"> </div></td>
        </tr>

        {% endfor %}

        <tr><th>Poids total (kg)</th>{# ligne de total des poids ou qté de legumes par semaine #}
        {% for semaine in l_semaines %}
            <td><div style="font-weight:bold;text-align:center" id="ts_{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}

        {# cellule du total de tous les poids de légume de toutes les semaines #}
        <td><div id="poidsTotalTSTL" style="font-weight:bold;text-align:center"> </div></td>
        </tr>
        
        <tr><th>Poids par pannier (kg)</th>{# ligne de total des qte de legumes par semaine #}
        {% for semaine in l_semaines %}
        <td><div style="font-weight:bold;text-align:center" id="tlpp_{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}

        <td><div id="totalTotalPP" style="font-weight:bold;text-align:center"> </div></td>
        </tr> 
        
         <tr><th>Contenu des panniers</th>
        {% for semaine in l_semaines %}
        <td style="font-weight:bold;text-align:left" id="cont_pspp_{{semaine.date_debut|date:'Y-m-d'}}" > </td>
        {% endfor %}
        <td> </td>
        </tr>  
    </tbody>          
    </table>
    
   
{% endblock %}
