{% extends "base.html" %}
{% block pagetitle %}Suivi des implantation des séries sur les planches{% endblock %}
{% load static %}

{% block javascript %}

<style>

#editeSerie_evts
{
    text-align:left;
}

#divEditeEvenement
{
    display:none;
    text-align:left;
    border: 1px solid blue;
}

#divEditSerie
    {
    display:none;
    position:fixed;
    top:10px;
    padding:10px;
    }
    
#divDeplacementImplantation
    {
    display:none;
    top:20px;
    text-align:left;
    padding:10px;
    width: 600px;
    height: 25 0px;
    background: white;
    color: black;
    border: 5px solid brown;
    border-radius:15px;
    margin 0 auto 0 auto;    
    z-index:3;
    }  
      
#date_du_jour
{
    position:absolute;
    background: white;
    border: 2px solid blue;   
}



.divImplantation
    {
    width: 30%;
    font-size:10pt;
    background: white;
    color: black;
    border: 5px solid black;
    position:relative;
    }
    
.evt
{
    background: red;
    position:absolute;
    height:5px; 
    display:inline;
    //margin-top: -5px;
}

.planche
{
    width: 95%;
    border: 5px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 5px;
    background:#F0FFF0;

}
.divTitrePlanche
{
    font-weight:bold;
    display:inline-block;
    color: black;
    text-align:center;
}

#divInfoDate
{
    display:none; 
    position:fixed;   
    width: 300px;
    height:100px; 
    z-index:5;
    background:#F0F7F0;
}

</style>

    <script type="text/javascript" src="{% static "javascripts/myTools.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/moment-with-locales.min.js" %}"></script>
    <script type="text/javascript">
    
    s_info = ""
    date_debut_vue = "{{infoPeriode.date_debut_vue|safe}}"
    date_fin_vue = "{{infoPeriode.date_fin_vue|safe}}"
    date_du_jour = "{{infoPeriode.date_aujourdhui|safe}}"
    decalage_j = {{infoPeriode.decalage_j}}

function    init()
    {
    o_nomTypeEvt = {{d_evtTypes|safe}}
    document.draggingImpl = false
    document.draggingEvt = false

    // nb px par heure en fonction des bornes 
    document.pxParH = window.getComputedStyle(document.getElementsByClassName("planche")[0]).width.split('px')[0] / moment(date_fin_vue).diff(moment(date_debut_vue), 'hours')

    balisage()
    
    // ajout ligne date du jour
    delta_h = moment(date_du_jour).diff(moment(date_debut_vue), 'hours')
    
    l_planches = document.getElementsByClassName("planche")
    for (ii=0;ii<l_planches.length;ii++)
    	{
    	hBarreJour = l_planches[ii].getElementsByClassName("barre_du_jour")[0]
	    hBarreJour.style.height = window.getComputedStyle(l_planches[ii]).height
	    hBarreJour.style.marginLeft = delta_h * document.pxParH + "px" 
	    }
	// décalage vertical si besoin 
    document.ondragover = scrollIfNeeded

    }

function scrollIfNeeded(e)
    {
    scrollpx = 0
    myPosY = e.clientY
    if  (myPosY < 50) // haut de l'ecran
        scrollpx = -30
    else if  (myPosY < 100) // haut de l'ecran
        scrollpx = -10  
    else if  (myPosY > window.innerHeight - 50) // dans le bas de l'ecran
        scrollpx = 30
    else if  (myPosY > window.innerHeight - 100) // dans le bas de l'ecran
        scrollpx = 10  
        
    if (scrollpx != 0)
        {
        window.scrollBy(0, scrollpx)
        //setTimeout(scrollIfNeeded(e), 2000)        
        }
       
    }

// gestion des événements
     
function ajouteEvenement() // un nouveau
    {
    document.getElementById("edit_evt_id").value = 0
    document.getElementById("divEditeEvenement").style.display = "block"
    document.getElementById("edit_evt_nom").value = ""
    document.getElementById("edit_evt_date").value = ""
    document.getElementById("edit_evt_delta_j").value = ""
    document.getElementById("edit_evt_duree_j").value = ""
    }
    
function editeEvenement(oEvent)
    {
    document.getElementById("edit_evt_id").value = oEvent.pk
    document.getElementById("divEditeEvenement").style.display = "block"
    document.getElementById("edit_evt_nom").value = oEvent.nom  
    if(oEvent.eRef == 0)
        {
        document.getElementById("edit_evt_date").value = getSdateFromTdate(oEvent.date)
        document.getElementById("edit_evt_date").style.display='table-row'
        document.getElementById("edit_evt_delta_j").style.display="none"        
        }
    else    // evt relatif au debut de la serie
        {   
        document.getElementById("edit_evt_delta_j").value = oEvent.delta_j
        document.getElementById("edit_evt_delta_j").style.display='table-row'
        document.getElementById("edit_evt_date").style.display="none"
        }
    document.getElementById("edit_evt_duree_j").value = oEvent.duree_j
    }


function supprimeEvenement(oEvent)
    {
    // supprime evt
    alert("sûr de vouloir supprimer l'evt " + oEvent.nom + " ?")
    s_request = "cde=supprime_evt&id=" + oEvent.pk
    rep = requestServer(s_request)
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == false)
        document.getElementById("divInfoDebug").innerHTML = "<div class='err_msg'>"+ jsonRep.err + "</div>"

    // maj fenetre d'edition de la série
    id_serie = document.getElementById("editSerie_id_serie").value
    majListEvts(id_serie)
    document.getElementById("divEditeEvenement").style.display = "none"

    }

function sauveEvenement()
    {
    // recup données et
    // ajout si id = 0
    // modifie si id != 0
    id_serie = document.getElementById("editSerie_id_serie").value
    s_request = "cde=sauve_evt&id_serie=" + id_serie
    s_request += "&id=" + document.getElementById("edit_evt_id").value
    s_request += "&nom=" + document.getElementById("edit_evt_nom").value
    s_request += "&date=" + document.getElementById("edit_evt_date").value
    s_request += "&delta_j=" + document.getElementById("edit_evt_delta_j").value
    s_request += "&duree_j=" + document.getElementById("edit_evt_duree_j").value
    rep = requestServer(s_request)
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == false)
        alert(jsonRep.err)

    //masquage de la fenetre d'édition de l'evt
    document.getElementById("divEditeEvenement").style.display = "none"
    
    // maj fenetre d'édition de la série
    majListEvts(id_serie)
    }

function sauveNbPiedsImplantation(obj)
    {
    s_request = "cde=sauve_nb_pieds_implantation&id=" + obj.pk
    s_request += "&nbPieds=" + document.getElementById("editeImplantation_nbPieds_"+obj.pk).value

    rep = requestServer(s_request)
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == false)
        alert(jsonRep.err)

    // maj fenetre d'edition de la série
    //id_serie = document.getElementById("editSerie_id_serie").value
    //majListImps(id_serie)

    }
    
function getSdateFromTdate(tdate)
    {
    t_date = tdate.split("T")[0].split("-")
    return t_date[2] + "/"+ t_date[1] + "/" + t_date[0]
    }
    
function majListEvts(id_serie)
    {
    // recup et affichage des evts de la série
    rep = requestServer("cde=get_evts_serie&id=" + id_serie)  
    jsonRep = JSON.parse(rep)

    if (jsonRep.status == true)
        {
     
        s_evts = '<table border="1" width="100%">\n'
        // récuperation de tous les evenements
        for(ii=0;ii<jsonRep.l_evts.length;ii++)
            {
            d_evt = jsonRep.l_evts[ii].fields  
            if (d_evt.type < {{codeEvtDivers}})
                continue // que les evt divers
            d_evt["pk"] =jsonRep.l_evts[ii].pk //la clé pk n'est pas dans les fields, on la rajoute        
            sj_evt = JSON.stringify(d_evt)
            s_evts += "<tr><td> " + getSdateFromTdate(d_evt.date) + " </td><td> " + d_evt.duree_j + "j </td><td> "  + d_evt.nom + " </td>"
            s_evts += "<td><a href='javascript:editeEvenement(" + sj_evt + ")'>"
            s_evts += "<img align='right' src='{% static 'images/editor.png' %}' title='Editer'></a></td>"
            s_evts += "<td><a href='javascript:supprimeEvenement(" + sj_evt + ")'>"
            s_evts += "<img align='right'src='{% static 'images/toDelete.jpeg'%}' title='Supprimer'></a></td></tr>"
            }
        s_evts +=  "</table>\n"
        document.getElementById("editeSerie_evts").innerHTML = s_evts
        }
    else
        alert("Erreur " + jsonRep.err)
        
    }

function majListImpls(id_serie, id_impl)
    {
    // recup et affichage des implantations de la série
    rep = requestServer("cde=get_impls_serie&id=" + id_serie)  
    jsonRep = JSON.parse(rep)

    if (jsonRep.status == true)
        {
        s_impl = '<table border="1" width="100%">\n'
        s_impl += "<tr><th width='30px'>N°</th><th>Planche</th><th>Nombre de pieds</th>"
        // récuperation de tous les evenements
        for(ii=0;ii<jsonRep.l_impls.length;ii++)
            {
            d_impl = jsonRep.l_impls[ii].fields  
            d_impl["pk"] =jsonRep.l_impls[ii].pk //la clé pk n'est pas dans les champs, on la rajoute        
            s_json = JSON.stringify(d_impl)
            s_impl += "<tr><td>" + d_impl.pk + "</td><td>" + d_impl.planche + "</td>"
            s_impl += '<td><input style="width:40px" type="text" value="' + d_impl.nbPieds +'" id="editeImplantation_nbPieds_' +  d_impl.pk +'" '
            
            if (jsonRep.l_impls[ii].pk != id_impl)
                s_impl += "readonly />"
            else
                s_impl += " /><img align='right' src='{% static 'images/ok.png'%}' style='width:15px;heigth:15px;cursor:pointer' title='OK' onclick='javascript:sauveNbPiedsImplantation("+s_json+")'>"           
            
            s_impl += "</td></tr>"
                //s_impl += "<td><a href='javascript:supprimeImplantation(" + s_json + ")'><img align='right'src='{% static 'images/toDelete.jpeg'%}' title='Supprimer'></a></td>"
            }
        s_impl +=  "</table>\n"
        document.getElementById("editeSerie_impls").innerHTML = s_impl
        }
    else
        alert("Erreur " + jsonRep.err)
        
    }
    

function supprimeImplantation(oEvent)
    {
    // supprime impl
    nbPieds = oEvent.nbPieds
    pk = oEvent.pk
    confirm("Etes vous sûr de vouloir supprimer l'implantation " + oEvent.pk + " ?")
    s_request = "cde=supprime_impl&id=" + oEvent.pk
    rep = requestServer(s_request)
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == true)
        {
        // maj fenetre d'edition de la série
        id_serie = document.getElementById("editSerie_id_serie").value
        majListImpls(id_serie)
        document.getElementById(pk).style.display="none"
        document.getElementById("editSerie_nb_pieds").value = document.getElementById("editSerie_nb_pieds").value - nbPieds
       }
    else
        alert(jsonRep.err)
    }
    
function  balisage()
    {
    l_series = document.getElementsByClassName("divImplantation")
    for (ii=0; ii<l_series.length; ii++)
        {
        // decalage debut
        debut = l_series[ii].getAttribute("date_debut")
        deltaHD = moment(debut).diff(moment(date_debut_vue), 'hours')
        l_series[ii].style.marginLeft = deltaHD * document.pxParH + "px" 
        // decalage fin
        fin = l_series[ii].getAttribute("date_fin")
        deltaHF = moment(fin).diff(moment(debut), "hours")
        l_series[ii].style.width = deltaHF * document.pxParH + "px"
        
        l_series[ii].style.borderColor = l_series[ii].getAttribute("couleur")
        
        // décalages des évenements
        l_evts = l_series[ii].getElementsByClassName("evt")
        for (jj=0;jj<l_evts.length;jj++)
            {
            deltaH = moment(l_evts[jj].getAttribute("date")).diff(moment(debut), 'hours')
            l_evts[jj].style.left = deltaH * document.pxParH +"px"
            l_evts[jj].style.width = l_evts[jj].getAttribute("duree_j") * 24 * document.pxParH + "px"
            if(l_evts[jj].getAttribute("type_evt") == "1")
                l_evts[jj].style.background="blue"
            }
        }
    }


function supprime_serie(id_serie)
    {
    if (confirm("Voulez-vous vraiment supprimer la série " + id_serie))
        {
        s_request = "cde=supprime_serie&id=" + id_serie
        rep = requestServer(s_request)  
        jsonRep = JSON.parse(rep)   
        if (jsonRep.status == true)
            {
            alert("Série supprimée")
            window.location.reload()
            }  
        else        
            alert(jsonRep.err)
        }
    }



function prepareAjouteSerie()
    {
    document.getElementById("editSerie_titre").innerHTML = "Création d'une nouvelle série" 
    document.getElementById("divEditeEvenement").style.display="none"
    hDiv = document.getElementById("divEditSerie")
    hDiv.style.left = "50px"
    hDiv.style.top = "50px"
    hDiv.style.zIndex = 10
    hDiv.style.position = "absolute"
    document.getElementById("editSerie_id_serie").value = 0
    document.getElementById("editSerie_id_serie").style.display="none"
    document.getElementById("editSerie_date_debut").value = ""
    document.getElementById("editSerie_date_fin").innerHTML = ""  
    document.getElementById("editSerie_date_fin").style.display="none"
    document.getElementById("editSerie_nb_rangs").value = ""
    document.getElementById("editSerie_duree_fab_plants_j").value = ""
    document.getElementById("editSerie_duree_avant_recolte_j").value = ""
    document.getElementById("editSerie_etalement_recolte_j").value = ""
    document.getElementById("editSerie_intra_rang_cm").value = ""
    document.getElementById("editSerie_nb_pieds").value = 0
    document.getElementById("editSerie_titre").innerHTML = "Ajout d'une nouvelle série"
    document.getElementById("editeSerie_evts").innerHTML = ""
    document.getElementById("divEditeEvenement").innerHTML = ""
    document.getElementById("editeSerie_impls").innerHTML = ""
    hDiv.style.display = "block"
    }
    
function prepareEditeSerie(id_impl)
    {
    document.getElementById("editSerie_titre").innerHTML = "Edition d'une série"
    hDiv = document.getElementById("divEditSerie")
    hDiv.style.display = "block"
    hImpl = document.getElementById(id_impl)
    id_serie = hImpl.getAttribute("id_serie")
    document.getElementById("editSerie_id_serie").value = id_serie
    document.getElementById("editSerie_id_serie").innerHTML = "Série " +  id_serie + " sur la/les planche/s " + hImpl.getAttribute("s_liste_planches")
    document.getElementById("editSerie_nb_rangs").value = hImpl.getAttribute("nb_rangs")
    document.getElementById("editSerie_intra_rang_cm").value = hImpl.getAttribute("intra_rang_cm")
    document.getElementById("editSerie_nb_pieds").value = hImpl.getAttribute("nb_pieds_serie")
    document.getElementById("editSerie_nb_pieds").readOnly = true
    document.getElementById("editSerie_date_debut").value = hImpl.getAttribute("date_debut_f")
    document.getElementById("editSerie_duree_fab_plants_j").value = hImpl.getAttribute("duree_fab_plants_j")
    document.getElementById("editSerie_duree_avant_recolte_j").value = hImpl.getAttribute("duree_avant_recolte_j")
    document.getElementById("editSerie_etalement_recolte_j").value = hImpl.getAttribute("etalement_recolte_j")   
    document.getElementById("editSerie_date_fin").innerHTML = hImpl.getAttribute("date_fin_f")
    document.getElementById("editSerie_b_serre").checked = (hImpl.getAttribute("b_serre") == "True")

    // maj legume dans la liste box
    id_legume  = hImpl.getAttribute("id_legume")
    list = document.getElementById("editSerie_id_legume").getElementsByTagName("option")
    for(ii=0;ii<list.length;ii++)
        if (list[ii].id == id_legume)
            {
            document.getElementById("editSerie_id_legume").options[ii].selected=true
            break
            }
    document.getElementById("divEditeEvenement").style.display = "none"
    majListImpls(id_serie, id_impl)
    majListEvts(id_serie)
    }
    
function sauveSerie()
    {
    // sauvegardedes paramètres d'une serie
    s_request = "cde=sauve_serie&id_serie=" + document.getElementById("editSerie_id_serie").value
    s_request += "&id_legume=" + document.getElementById("editSerie_id_legume").value
    s_request += "&b_serre=" + document.getElementById("editSerie_b_serre").checked
    s_request += "&nb_rangs=" + document.getElementById("editSerie_nb_rangs").value
    s_request += "&nb_pieds=" + document.getElementById("editSerie_nb_pieds").value
    s_request += "&intra_rang_cm=" + document.getElementById("editSerie_intra_rang_cm").value
    s_request += "&date_debut=" + document.getElementById("editSerie_date_debut").value
    s_request += "&duree_avant_recolte_j=" + document.getElementById("editSerie_duree_avant_recolte_j").value
    s_request += "&etalement_recolte_j=" + document.getElementById("editSerie_etalement_recolte_j").value
    document.getElementById("divEditSerie").style.display="none"
    debutPatienter()
    rep = requestServer(s_request)
    finPatienter() 
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == true)
        window.location.reload()
    else
        alert(jsonRep.err)
    }
    
    
function cloneSerie()
    {
    // sauvegardedes paramètres d'une serie
    s_request = "cde=clone_serie&id_serie=" + document.getElementById("editSerie_id_serie").value
    s_request += "&id_legume=" + document.getElementById("editSerie_id_legume").value
    s_request += "&b_serre=" + document.getElementById("editSerie_b_serre").checked
    s_request += "&nb_rangs=" + document.getElementById("editSerie_nb_rangs").value
    s_request += "&nb_pieds=" + document.getElementById("editSerie_nb_pieds").value
    s_request += "&intra_rang_cm=" + document.getElementById("editSerie_intra_rang_cm").value
    s_request += "&date_debut=" + document.getElementById("editSerie_date_debut").value
    s_request += "&duree_fab_plants_j=" + document.getElementById("editSerie_duree_fab_plants_j").value
    s_request += "&duree_avant_recolte_j=" + document.getElementById("editSerie_duree_avant_recolte_j").value
    s_request += "&etalement_recolte_j=" + document.getElementById("editSerie_etalement_recolte_j").value
    document.getElementById("divEditSerie").style.display="none"
    debutPatienter()
    rep = requestServer(s_request)
    finPatienter() 
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == true)
        window.location.reload()
    else
        alert(jsonRep.err)
    }




function dragEvtStart(event) {
    if (document.draggingEvt)
        return
    document.draggingEvt = true
    event.dataTransfer.setData("date_ori", event.target.getAttribute("date"))
    event.dataTransfer.setData("offsetX", document.getElementById(event.target.id).offsetLeft)
    document.getElementById("divInfoDate").style.display="block"
}


function afficheDateDebutSerie(event) 
    {
    if (document.draggingEvt == false)   
        return
    //x = event.clientX //- event.dataTransfer.getData("offsetX")
    x = document.getElementById("evt__15980").style.marginLeft
    dateDepartSerie = ""
    //decalageJ = parseFloat(x / document.pxParH / 24).toFixed(0) 
    document.getElementById("divInfoDate").innerHTML = "decalage de début de série au : " + x
    //dateNouvelle = moment(dateDepartSerie).diff(moment(date_debut_vue), 'hours')
    return false
    }
                    
function dragEvtStop(event) 
    {
    
    document.draggingEvt = false
    document.getElementById("divInfoDate").style.display="none"
    }

function dragImplStart(event) 
    {
    if(document.draggingEvt)
        return
    document.draggingImpl = true
    event.dataTransfer.setData("id_implantation", event.target.id)
    event.dataTransfer.setData("id_serieDeplacee", event.target.getAttribute("id_serie"))
    event.dataTransfer.setData("id_planche_ori", event.target.getAttribute("id_planche"))
    event.dataTransfer.setData("nbPieds", event.target.getAttribute("nb_pieds_implantation"))
    } 

function dropImpl(event) 
    {
    if (document.draggingImpl == false)
        return
    document.draggingImpl = false
    //event.defaultPrevented()
    id_implantation = event.dataTransfer.getData("id_implantation")
    id_serie = event.dataTransfer.getData("id_serieDeplacee")
    id_plancheDest = event.target.id.split("__")[1]
    quantite_implantation = event.dataTransfer.getData("nbPieds")
    if (event.dataTransfer.getData("id_planche_ori") != id_plancheDest)
        prepareDeplacementImplantation(id_serie, id_implantation, quantite_implantation, id_plancheDest)
    else
        confirm("decalage a faire ? pour serie " + id_serie)
    }
    
function surlignePlanche(event)
    {    
    if (document.draggingImpl == false)
        return
    
    // chgt de couleur si atterissage possible suite à deplacement implantation
    if (event.target.className == "planche")
        event.target.style.background = "green"
    }

function unfocusPlanche(event)
    {
    if (event.target.className == "planche" )
        event.target.style.background = 'white'
    }
</script>

{% endblock %}

{% block title %}Implantation des séries sur les planches{% endblock %}

{% block content %}

<p id="divInfoDebug">{{s_msg|linebreaksbr}} </p>
<p id="divInfoDate"> </p>
<div id="doc" class="BlueFrame" style="display:none" onclick="this.style.display='none';return false">{{doc}}</div>

<form action="" method="POST" accept-charset="utf-8">
{% csrf_token %}
{% include "blockMenuPeriode.html" %}
</form>
<img src="{% static 'images/plus.png' %}" title="Ajouter une série" onclick="prepareAjouteSerie();return false"> 

<div id="main" style="text-align:center" >

<br/><br/>
    {% for planche in l_planches %}
    <div    class="planche"
            id="pl__{{planche.id}}"
            ondragover="surlignePlanche(event);return false"
            ondragleave="unfocusPlanche(event);return false"   
            ondrop="dropImpl(event)">
        
        <div class="barre_du_jour"> </div>  
        <div class="divTitrePlanche">{{planche}}</div>
        <div class="suiviConso">
            <table border="1" width="100%"><tr>
                {% for sem in l_semaines %}
                <td title="{{sem.s_dm}}"> </td>
                {% endfor %}
                </table>
            
        </div>

        {# séries existantes en base #}
        {% for impl in planche.l_implantations %}

        <div class="divImplantation"    id="{{impl.id}}"
                                        id_legume="{{impl.serie.legume.id}}" 
                                        id_planche="{{impl.planche.id}}"
                                        id_serie="{{impl.serie.id}}"
                                        couleur="{{impl.serie.legume.espece.couleur}}" 
                                        nb_pieds_implantation="{{impl.nbPieds}}"
                                        surface_implantation="{{impl.surface_m2}}"
                                        b_serre="{{planche.bSerre}}"
                                        nb_pieds_serie="{{impl.serie.nbPieds}}"
                                        s_liste_planches = "{{impl.serie.s_listeNomsPlanches}}"
                                        date_debut="{{impl.serie.evt_debut.date|safe}}" 
                                        date_debut_f="{{impl.serie.evt_debut.date|date:'d/m/Y'}}" 
                                        duree_fab_plants_j="{{impl.serie.duree_fab_plants_j}}"
                                        duree_avant_recolte_j="{{impl.serie.dureeAvantRecolte_j}}"
                                        etalement_recolte_j="{{impl.serie.etalementRecolte_j}}"
                                        date_fin="{{impl.serie.evt_fin.date|safe}}"
                                        date_fin_f="{{impl.serie.evt_fin.date|date:'d/m/Y'}}"
                                        nb_rangs="{{impl.serie.nb_rangs}}" 
                                        intra_rang_cm="{{impl.serie.intraRang_cm}}"
                                        draggable="true" 
                                        ondragstart="dragImplStart(event)" 
                                        ondragend="document.draggingImpl=false"
                                        oncontextmenu="prepareEditeSerie({{impl.id}});return false;"
                                        title="Impl {{impl.id}} de série {{impl.serie.id}} ({{impl.nbPieds}}/{{impl.serie.nbPieds}}), {{impl.serie.legume.nom}}, {{impl.serie.nb_rangs}} rangs, intra_rang_cm={{impl.serie.intraRang_cm}} &#13;{{impl}} &#13; Du {{impl.serie.evt_debut.date|date:'d/m/Y'}} au {{impl.serie.evt_fin.date|date:'d/m/Y'}}. Qté estimée : {{impl.serie.quantiteEstimee_kg_ou_piece|floatformat:0}} {{impl.serie.legume.espece.nomUniteProd}}"
                                        >

            {% for evt in impl.serie.evenements.all%}
            <div    class='evt' 
                    id="evt__{{evt.id}}"
                    id_evt="{{evt.id}}"
                    type_evt="{{evt.type}}" 
                    date="{{evt.date|date:'Y-m-d'}}" 
                    duree_j="{{evt.duree_j}}" 
                    nom="{{evt.nom}}" 
                    texte="{{evt.texte}}" 
                    title="{{evt.nom}} le {{evt.date|date:'d/m/Y'}}"
                    {% if evt.type == 1 %}
                        draggable="true"
                        ondragstart="dragEvtStart(event)"
                        ondrag="afficheDateDebutSerie(event)" 
                        ondragend="dragEvtStop(event)"
                    {% endif %}
                    > </div>   
            {% endfor %}
                                            
            <div class="divTitreImplantation">{{impl.serie.legume.nom|capfirst}}  {{impl.nbPieds}}/{{impl.serie.nbPieds}} {{impl.surface_m2}}m2</div>

        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>

<div id="divEditSerie" class="BlueFrame" >

	<h2 id="editSerie_titre"> </h2>
	<p id="editSerie_id_serie" value=""> </p>
	
    <p>Légume : <select id="editSerie_id_legume" name="editSerie_id_legume" >
                {% for leg in l_legumes %}
                    <option value="{{leg.id}}" id="{{leg.id}}" name="{{leg.id}}">{{leg.nom|title}}</option>
                {% endfor %}
                </select>
    <input type="checkbox" id="editSerie_b_serre" />sous Serre
    </p>
    Nombre de pieds <input style="width: 40px" type='text' value="" id="editSerie_nb_pieds"  name="editSerie_nb_pieds" />
    <p>Nb rangs <input style="width: 40px" type='text' value="" id="editSerie_nb_rangs"  name="editSerie_nb_rangs" />
       Dans le rang (cm) <input style="width: 40px" type='text' value="" id="editSerie_intra_rang_cm"  name="editSerie_intra_rang_cm" />
           Rien si valeurs par défaut
       </p>
    <p>Date en terre (jj/mm/aa)<input style="width:100px" type="text" value="" id="editSerie_date_debut" name="editSerie_date_debut"/></p>
    
    <p>Durée en serre à plants (j) <input style="width:100px;width: 40px" type="text" value="" id="editSerie_duree_fab_plants_j" name="editSerie_duree_fab_plants_j"/>
    <p>Durée avant récolte (j) <input style="width:100px;width: 40px" type="text" value="" id="editSerie_duree_avant_recolte_j" name="editSerie_duree_avant_recolte_j"/>
       Durée maxi de récolte (j)<input style="width:100px;width: 40px" type="text" value="" id="editSerie_etalement_recolte_j" name="editSerie_etalement_recolte_j"/>
    </p>
    Fin <div id="editSerie_date_fin" style="display:inline;"> </div>
    <p>
    <input type='button' value='Supprimer' name='supprime' onclick="supprime_serie(document.getElementById('editSerie_id_serie').value)" />
    <input type='button' value='Fermer' name='annule' onclick="document.getElementById('divEditSerie').style.display='none';return false" />
    <input type='button' value='Sauver' onclick="sauveSerie();return false" />
    <input type='button' value='Cloner' onclick="cloneSerie();return false" />
    </p>    
    <hr/>
    <p><b>Implantations</b></p>
    <div id="editeSerie_impls"> </div>
    <hr/>
    <p><b>Evenements </b> <input type='button' value='+' onclick="ajouteEvenement()" title="Ajouter un évènement"/></p>
    <div id="editeSerie_evts"> </div>
    <div id="divEditeEvenement">
        <table><tbody>
        <input type="hidden" id="edit_evt_id" value=""/>
        <tr><td>Nom : <input type="text" value="" id="edit_evt_nom"/></td></tr>
        <tr id="edit_evt_tr_date"><td>Date (jj/mm/aaaa): <input style="width: 100px" type="text" value="" id="edit_evt_date"/></td></tr>
        <tr id="edit_evt_tr_delta_j"><td>Décalage / début de série (j): <input style="width: 100px" type="text" value="" id="edit_evt_delta_j"/></td></tr>
        <tr><td>Durée (j): <input style="width: 60px" type="text" value="1" id="edit_evt_duree_j"/> 1 par défaut si vide</td></tr>
        <tr><td><input type="button" value="Fermer" onclick="document.getElementById('divEditeEvenement').style.display = 'none'" />
        <input type="button" value="Sauver" onclick="sauveEvenement();return false;" /></td></tr>	            
        </tbody></table>
    </div>

</div>
	
	
	
<div id="divDeplacementImplantation" >
    <h3>Déplacement de l'implantation <input id="deplacement_id_implantation" value="" type="text" readonly style="width: 30px;display:inline" />
    série <input id="deplacement_id_serie" value="" type="text" readonly style="width: 30px;margin-left: 10px;display:inline" />
     <br/>
    </h3>
    Nombre de pieds :           <input id="deplacement_nb_pieds"           value="" type="text" style="width:40px;border: 5px solid brown" /><br/>
    vers la planche N°          <input id="deplacement_id_planche_dest"    value="" type="text" readonly       style="width: 30px;margin-left: 10px"/><br/>
    dans le rang (cm)           <input id="deplacement_intra_rang_cm"      value="" type="text" style="margin-left: 10px;width: 30px"/><br/>
    Nombre de rangs             <input id="deplacement_nb_rangs"           value="" type="text" style="margin-left: 10px;width: 30px"/><br/>
    <br/>Simulation <input id="deplacement_simulation" type="checkbox" />
    <br/><br/>
    <input type="submit" value="Déplacement" onclick="deplaceImplantation()" style="margin-left: 30px" />
    <input type='button' value='Annuler' onclick="document.getElementById('divDeplacementImplantation').style.display='none';return false"/>
    
</div>

{% endblock %}
