{% extends "base.html" %}
{% load static %}
{% block title %}Légumes, espèces et variétés{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static "javascripts/myTools.js" %}"></script>

<script type="text/javascript">
function  init() {}


function sauveLegume(id)
    {
    s_request = "cde=sauveLegume&id=" + id
    s_request += "&uniteProd=" + document.getElementById("leg_"+id+"_nomUniteProd").value
    s_request += "&consoHebdoParPart=" + document.getElementById("leg_" + id + "_" + "consoHebdoParPart").value
    s_request += "&rendementGermination=" + document.getElementById("leg_" + id + "_" + "rendementGermination").value
    s_request += "&rendementPousseEtConservation=" + document.getElementById("leg_" + id + "_" + "rendementPousseEtConservation").value
    s_request += "&intraRang_cm="+ document.getElementById("leg_" + id + "_" + "intraRang_cm").value
    s_request += "&poidsParPiece_g="+ document.getElementById("leg_" + id + "_" + "poidsParPiece_g").value
    s_request += "&nbGrainesParPied="+ document.getElementById("leg_" + id + "_" + "nbGrainesParPied").value
    s_request += "&prodParPied_kg="+ document.getElementById("leg_" + id + "_" + "prodParPied_kg").value

    rep = requestServer(s_request)  
    jsonRep = JSON.parse(rep)   
    if (jsonRep.status == true)
        {
        window.location.reload()
        }  
    else        
        alert(jsonRep.err)
    }



</script>
{% endblock %}

{% block content %}

<div class="BlueFrame" style="list-style-type: none;width: 50%; margin-left: 3%">

<form action="" method="POST">
{% csrf_token %}

{{info}}
<h2>Légumes</h2><hr />
{% for leg in l_legumes %}
 
      <table><tbody>
          <tr>
          {% if leg.image %}<td><img style="float:left;width: 80px;height: 80px;margin: 10px" src="{{MEDIA_URL}}{{var.image}}" title="{{var.nom}}" /></td>{% endif %}
          <td><h2 id="esp_{{leg.espece.id}}">{{leg.nom|title}}</h2>
            <p>Famille : <b>{{leg.espece.famille.nom|title}}</b>. Espèce : <b>{{leg.espece.nom|title}}</b></p>
            Consommation hebdo par pannier : 
            <input style="width: 40px" type="text" id="leg_{{leg.pk}}_consoHebdoParPart" name="leg_{{leg.pk}}_consoHebdoParPart" value="{{leg.espece.consoHebdoParPart}}" />
            <br/>Livraison par semaine : {{leg.espece.consoHebdoTotale}} ;
            Unité 
            <select id="leg_{{leg.pk}}_nomUniteProd" name="leg_{{leg.pk}}_nomUniteProd" >
                {% for idUp, nomUp in d_up.items %}
                    <option value="{{idUp}}" id="leg_{{leg.pk}}_upid_{{idUp}}" name="leg_{{leg.pk}}_upid_{{idUp}}" {% if leg.espece.unite_prod == idUp %}selected{% endif %}>{{nomUp}}</option>
                {% endfor %}
            </select> <br/>
            Rendement germination 
            <input style="width:40px" type="text" id="leg_{{leg.pk}}_rendementGermination" name="leg_{{leg.pk}}_rendementGermination" value="{{leg.espece.rendementGermination}}" />
            <br/>
            
            Rendement pousse et conservation 
            <input style="width:40px" type="text" id="leg_{{leg.pk}}_rendementPousseEtConservation" name="leg_{{leg.pk}}_rendementPousseEtConservation" value="{{leg.espece.rendementPousseEtConservation}}" />
            <br/>
            
            Distance dans le rang (cm) 
            <input style="width:40px" type="text" id="leg_{{leg.pk}}_intraRang_cm" name="leg_{{leg.pk}}_intraRang_cm" value="{{leg.intraRang_cm}}" />
             (nombre de rangs à définir par série)<br />
             
            Poids moyen par pièce (g)
            <input style="width: 40px" type="text" id="leg_{{leg.pk}}_poidsParPiece_g" name="leg_{{leg.pk}}_poidsParPiece_g" value="{{leg.poidsParPiece_g}}" /> <br/>
            
            Production par pied (kg) 
            <input style="width: 40px" type="text" id="leg_{{leg.pk}}_prodParPied_kg" name="leg_{{leg.pk}}_prodParPied_kg" value="{{leg.prodParPied_kg}}" /> <br/>

            Nb graines par pied <input style="width: 40px" type="text" id="leg_{{leg.pk}}_nbGrainesParPied" name="leg_{{leg.pk}}_nbGrainesParPied" value="{{leg.espece.nbGrainesParPied}}" /> <br/>

            {% if leg.espece.avec.distinct %} <img src="{{ STATIC_URL }}images/smileyOK.jpg" width="32px" height="32px"  title="Avec"/> 
            {% for varAvec in leg.espece.avec.distinct %}{{varAvec.nom|title}}, {% endfor %} <br/>
            {% endif %}
          
            {% if leg.espece.sans.distinct %} <img src="{{ STATIC_URL }}images/smileyKO.jpg" width="32px" height="32px"  title="Sans"/>
            {% for varSans in leg.espece.sans.distinct %}{{varSans.nom|title}}, {% endfor %} <br/>
            {% endif %}
            <br/>
            <input type="button" value="Sauver..." onclick="sauveLegume({{leg.pk}});return false;" />
            </td>
          </tr>

      </tbody></table>
      
	<hr />
{% endfor %}
</form>
</div>


<ul class="BlueFrame" style="list-style-type: none;">
<h2>Familles et variétés</h2><hr/>
{% for f in l_fams %}
  <li><b>{{f.nom|title}}</b>
	<ul>
	{% for esp in f.especes %}
	   <li><a href="#esp_{{esp.id}}">{{esp.nom|title}}</a></li>
	{% endfor %}
	</ul>
  
  </li>
  
{% endfor %}
</ul>


{% endblock %}
