{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script type="text/javascript" src="{% static 'javascripts/myTools.js' %}"> </script>
<script type="text/javascript" src="{% static 'javascripts/colorScores.js' %}"> </script>
<script type="text/javascript" >


function init()
    {
    colorScores()
    
    }

</script>

{% endblock %}

{% block title %}Surfaces de culture sur les planches au fil du temp {% endblock %}

{% block content %}

    <p id="divInfoDebug">{{info}} </p>
    
    
    <form action="" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <div class="BlueFrame" style="width:100%">

        <input type="submit" name="direction" value="avance" /> 
        <input style="margin-left: 10px" type="submit" name="direction" value="recul" />
        
        Par pas de <input style="width: 30px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}" /> jours 
        <button onclick="changelePas(-1);return(false)">-</button>
        <button onclick="changelePas(1);return(false)">+</button>
        <br/>
         <input type="radio" name="periode" value="annee" {% if periode == "annee" %}checked{% endif %}>Cette année
         <input type="radio" name="periode" value="mois" {% if periode == 'mois' %}checked{% endif %}>Ce mois
         <input type="radio" name="periode" value="semaine" {% if periode == 'semaine' %}checked{% endif %}>Cette semaine
         <input type="radio" name="periode" value="specifique" {% if periode == 'specifique' %}checked{% endif %}>Spécifique
         du <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> 
         au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />
    
        <input name="bSerres" type="checkbox" {% if bSerres %}checked{% endif %} /> Serres 
        <input name="bChamps" type="checkbox" {% if bChamps %}checked{% endif %} /> Champs 
        <input style="margin-left: 20px" type="submit" value="Envoyer" />

    </div>    
    </form>
    <p>
    

        
    <table border="1">
        <tr><th>Planches/j</th>
            {% for jour in l_jours %}
                <td align="center">{{jour|date:'d/m/Y'}}</td>
            {% endfor %}
        </tr>
        
        {% for planche in l_planches %}
        <tr>
            <th>{{planche.nom|title}}</th>
            
            {% for infoPlanche in planche.l_infoJours %}            
            <td>{{infoPlanche.0|date:'d/m/Y'}}<br/>
            <div class="score" id="j_{{infoPlanche.0|date:'Y-m-d'}}__planche_{{planche.id}}" ratio="{{infoPlanche.2}}">{{infoPlanche.1}} / {{planche.surface_m2}}<br/>
                Libre<br/>{{infoPlanche.2}}%</div>    
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        
    </table>
    
    
        
{% endblock %}
