<!DOCTYPE html>
<html>
<head>
<title>{% block pagetitle %}{% endblock %}</title>
{% load static %}

<link rel="shortcut icon" href="{% static "images/shadok_green.gif" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" /> 
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<script>imageMainURL ="{% static "images"%}"</script>

{% block javascript %}{% endblock %}

</head>
<body onload="init()">
<img id="waiting" src="{% static "images/loading.gif" %}" >
<div id="banner">
	<div id="home"><h2>
        <a href="{% url 'home' %}"><img src="{% static "images/home.png" %}" title="Home"/></a>
        <a href="{% url 'evenements' %}">Evenements</a>...
        <a href="{% url 'suivi_implantations' %}"> Suivi des séries</a></h2>
	    <h1>{% block title %}{% endblock %}</h1>
    </div>
	
	<div id="appName"></div>
	
<div id="Bannerblock">{{appName}} {{appVersion}}, with Django</div>
</div>

{% block content %}
{% endblock %}

</body>
</html>
