{% block blockMenuPeriode %}
{% load static %}

<div id="menu_periode_option_serres_champs" style="display:inline;">
<input name="menu_periode_option_serres" id="menu_periode_option_serres" type="checkbox" {% if selection_serres %}checked{% endif %} /> Serres 
<input name="menu_periode_option_champs" id="menu_periode_option_champs" type="checkbox" {% if selection_champs %}checked{% endif %} /> Champs
</div>
&nbsp;
<input style="margin-left: 10px" type="submit" name="direction" value="recul" />
<input type="submit" name="direction" value="avance" /> 
Par pas de <input style="width: 30px" type="text" id="decalage_j" name="decalage_j" value="{{infoPeriode.decalage_j}}" /> jours 
<button onclick="document.getElementById('decalage_j').value = parseInt(document.getElementById('decalage_j').value) -1;return(false)">-</button>
<button onclick="document.getElementById('decalage_j').value = parseInt(document.getElementById('decalage_j').value)+1;return(false)">+</button>
 <input type="radio" name="periode" value="annee" {% if infoPeriode.periode == "annee" %}checked{% endif %}>Cette année
 <input type="radio" name="periode" value="mois" {% if infoPeriode.periode == 'mois' %}checked{% endif %}>Ce mois
 <input type="radio" name="periode" value="semaine" {% if infoPeriode.periode == 'semaine' %}checked{% endif %}>Cette semaine
 <input type="radio" name="periode" value="aujourdhui" {% if infoPeriode.periode == 'aujourdhui' %}checked{% endif %}>Aujourd'hui ({{infoPeriode.date_aujourdhui|date:'d/m/Y'}})
 <input type="radio" name="periode" value="specifique" {% if infoPeriode.periode == 'specifique' %}checked{% endif %}>Spécifique
 du <input style="width: 100px" type="text" name="date_debut_vue" value="{{infoPeriode.date_debut_vue|date:'d/m/Y'}}" /> 
 au&nbsp;<input style="width: 100px" type="text" name="date_fin_vue" value="{{infoPeriode.date_fin_vue|date:'d/m/Y'}}" />

<div id="menu_periode_option_filtre_planche" style="display:inline;">
Filtre  planche <input style="width:50px" type="text" name="s_filtre_planches" value="{{s_filtre_planches}}" />
</div>

<div id="menu_periode_option_filtre_legume" style="display:inline;">
Filtre&nbsp;légume&nbsp;<input style="width:60px" type="text" name="s_filtre_legume" value="{{s_filtre_legume}}" />
</div>
<input style="margin-left: 20px" type="submit" value="Envoyer" />
<img src="{% static 'images/Help.png' %}" title="Documentation" onclick="document.getElementById('doc').style.display='block';return(false)" style="width:30px;heigth:30px" > 
{% endblock %}
