{% extends "base.html" %}

{% block javascript %}

<style>

#date_du_jour
{
    position:absolute;
    width: 2px;
    background: white;
    border: 2px solid blue;   
}

.chrono_plant
    {
    width: 30%;
    height: 75px;
    background: white;
    color: black;
    border: 5px solid green;
    position:relative;
    }
.evt
{
	    background: orange;
	    position:absolute;
	    height:13px;
}
#div_deplacement_plants
    {
    text-align:left;
    padding:10px;
    width: 400px;
    height: 25	0px;
    background: white;
    color: black;
    border: 5px solid brown;
    position: absolute;
    display:none;
    }    
</style>

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/moment-with-locales.min.js"></script>
    <script type="text/javascript">
    
    s_info = ""
    date_debut_vue = "{{date_debut_vue|safe}}"
    date_fin_vue = "{{date_fin_vue|safe}}"
    date_du_jour = "{{date_du_jour|safe}}"
    decalage_j = {{decalage_j|safe}}
    // evenement par plant id
    l_evts_plants=[    {% for planche in l_planches %}{% for plant in planche.l_plants %}
			{% for evt in plant.l_evts %}  {"id":"{{evt.id}}",
											"nom":"{{evt.nom}}",
											"date":"{{evt.date|safe}}",
											"duree_j":"{{evt.duree_j}}",
											"type":"{{evt.type}}",
											"id_plant":"{{evt.plant_base_id}}"}{% if not forloop.last %},{% endif %}{% endfor%}
		{% endfor %}{% endfor %}]

function    init()
    {

    changelePas(0) // juste pour affichage 1 ere fois

    // nb px par jour en fonction des bornes , on ajoute 1 pour inclure le dernier jour plein 
    pxParH = window.getComputedStyle(document.getElementsByClassName("cadre_chrono")[0]).width.split('px')[0] / moment(date_fin_vue).diff(moment(date_debut_vue), 'hours')

    balisagePlants()
    
    // ajout ligne date du jour
    for (hplanche in document.getElementsByClassName("cadre_chrono"))
    	{
	    hplanche.getElementsByTagName("date_du_jour")[0].style.height = window.getComputedStyle(hplanche).height
	    delta = moment(date_du_jour).diff(moment(date_debut_vue), 'hours')
	    hBarreCeJour.style.marginLeft = delta * pxParH + "px" 
	    }
    
    }
    
function  editeDeplacement(id_plant_orig)
    {
    	hPlant = document.getElementById(id_plant_orig)
    	hDivDepl = document.getElementById("div_deplacement_plants")
    	hDivDepl.style.display = "block"
    	hDivDepl.style.left = "10px"
    	document.getElementById("deplacement_variete").innerHTML = hPlant.getAttribute("nom_variete")
    	document.getElementById("deplacement_id_plant").value = id_plant_orig
    	document.getElementById("deplacement_intra_rang_cm").value = hPlant.getAttribute("intra_rang_cm")
    	document.getElementById("deplacement_nb_rangs").value = hPlant.getAttribute("nb_rangs")
    	hDivDepl.style.top = hPlant.offsetTop + "px"
//    	alert ("id planche = " + hPlant.parentNode.getAttribute("id"))

    }    
function  deplacement(hForm)
    {
	//appel serveRequest 
    s_request = "cde=deplacement_plant&id_plant=" + document.getElementById("deplacement_id_plant").value
    s_request += "&id_planche_src=0"
    s_request += "&num_planche_dest=" + document.getElementById("deplacement_num_planche_dest").value
    s_request += "&nb_rangs=" + document.getElementById("deplacement_nb_rangs").value
    s_request += "&intra_rang_cm=" + document.getElementById("deplacement_intra_rang_cm").value
    s_request += "&deplacement_partiel=" + document.getElementById("deplacement_partiel").checked
    s_request += "&nb_plants=" + document.getElementById("deplacement_nb_plants").value
    b_simu = document.getElementById("deplacement_simulation").checked
    s_request += "&simu=" + b_simu
    rep = requestServer(s_request)  
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == 'true')
        {
        document.getElementById("div_deplacement_plants").style.display = "none"
      	alert(jsonRep.msg)
        if (b_simu == "false")
        	{
        	// on rafraichit la page
        	window.location.replace(window.location.pathname)
        	}
        }
    else
    	document.getElementById("divInfoDebug").innerHTML = jsonRep.err
    }
    
function  balisagePlants()
    {
    l_plants = document.getElementsByClassName("chrono_plant")
    for (ii=0;ii<l_plants.length;ii++)
        {
        // decalage debut
        debut = l_plants[ii].getAttribute("debut")
        deltaH = moment(debut).diff(moment(date_debut_vue), 'hours')
        l_plants[ii].style.marginLeft = deltaH * pxParH + "px" 
        // decalage fin
        fin = l_plants[ii].getAttribute("fin")
        deltaH = moment(fin).diff(moment(debut), "hours")
        l_plants[ii].style.width = deltaH * pxParH  + "px"
        // placement des divers evenements
        s_evt = ""
    	for (jj=0;jj<l_evts_plants.length;jj++)
    		{
    		if (l_evts_plants[jj]["id_plant"] != l_plants[ii].getAttribute("id"))
    			continue
            //positionnement des évènements
            deltaPx = moment(l_evts_plants[jj]["date"]).diff(moment(debut), 'hours') * pxParH
            s_evt += "<div class='evt' style='left:" + deltaPx + "px;width:" + l_evts_plants[jj]["duree_j"] * 24 * pxParH + "px;' title='" + l_evts_plants[jj]["nom"] + '\n' + moment(l_evts_plants[jj]["date"]).format("DD/MM/YYYY") + "' > </div>"
            //s_evt = "<div style='position:absolute'><img title='" + l_evts_plants[jj]["nom"] + '\n' + moment(l_evts_plants[jj]["date"]).format("DD/MM/YYYY") + "' src='{{STATIC_URL}}images/puce.png' style='margin-left:" + deltaPx + "px;width:" + l_evts_plants[jj]["duree_j"] * 24 * pxParH + "px;height:13px'></div>"
            }
        document.getElementById(l_plants[ii].getAttribute("id")).getElementsByClassName("evts")[0].innerHTML = s_evt
        }
    }
    
function changelePas(delta)
{
    decalage_j += delta
    if (decalage_j < 1) decalage_j = 1
    document.getElementById("decalage_j").value = decalage_j
}

</script>

{% endblock %}

{% block title %}Suivi temporel des plants sur les planches{% endblock %}

{% block content %}

<p id="divInfoDebug"> </p>

<div id="main" style="text-align: center" >

<form action="" method="POST" accept-charset="utf-8">
{% csrf_token %}
Pour les planches <input style="width: 300px" type="text" name="num_planches" value=" {% for planche in l_planches %}{{planche.num}},{% endfor %}" />
<a href="{% url 'edition_planche' %}?num_planche={{planche.num}}"><img src="{{STATIC_URL}}images/editor.png" title="Editer"></a>
 Visionnage du <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />
<input style="margin-left: 20px" type="submit" value="Envoyer"/>
<input style="margin-left: 20px" type="submit" name="direction" value="recul"/>
<input type="submit" name="direction" value="avance"/>

Pas de <input style="width: 50px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}"/> jours 
<button onclick="changelePas(-1);return(false)">-</button><button onclick="changelePas(1);return(false)">+</button>
</form>

<br/><br/>
    

    {% for planche in l_planches %}
    Planche {{planche.num}}. {{planche.nom}}<br/>

    <div id="cadre_chrono_pl{{planche.num}}" class="cadre_chrono">
    <div class="date_du_jour_pl{{planche.id}}"> </div>

        {# plants existants en base #}
        {% for plant in planche.l_plants %}
        <div class="chrono_plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
        nom_variete="{{plant.variete}}" debut="{{plant.evt_debut.date|safe}}" fin="{{plant.evt_fin.date|safe}}" 
        nb_rangs="{{plant.nb_rangs}}" intra_rang_cm="{{plant.intra_rang_cm}}">
        
        <div class="num_plant" style="display: inline;">({{plant.id}}) </div>
        <div class="variete" style="display: inline;">
        {{plant.variete}} x {{plant.quantite}}</div> 
        <a href="javascript:editeDeplacement({{plant.id}})">>></a><br/>
        <div class="debut" style="display: inline;float:left">{{plant.evt_debut.date|date:'d/m/Y'}}</div><br/>
        <div class="fin" style="display:inline;float:right">{{plant.evt_fin.date|date:'d/m/Y'}}</div><br/>
        <div class="evts" style="display:inline;position:relative;float:left;"> </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div id="div_deplacement_plants">
    	<p><b>Déplacement de plants à partir de la planche virtuelle</b></p>
    	Plant/s N°<input style="width: 30px;margin-left: 10px;display: inline" type="text" id="deplacement_id_plant" value=""/>
    	<b>(<div id="deplacement_variete" style="display: inline"> </div>)</b>
    	vers planche N°<input style="width: 30px;margin-left: 10px" type="text" id="deplacement_num_planche_dest" value=""/><br/>
    	Espacement dans le rang (cm)<input style="margin-left: 10px;width: 30px" type="text" id="deplacement_intra_rang_cm" value=""/><br/>
    	Nombre de rangs<input style="margin-left: 10px;width: 30px" type="text" id="deplacement_nb_rangs" value=""/><br/>
    	<input type="checkbox" id="deplacement_partiel" />Déplacement partiel.
    	Nb de plants :<input style="width: 30px" type="text" id="deplacement_nb_plants" value=""/><br/>
		<input type="checkbox" id="deplacement_simulation" />Simulation
		<input type="submit" style="margin-left: 30px"  value="Déplacement" onclick="deplacement(this)" />

    </div>
        
</div>

{% endblock %}
