{% extends "base.html" %}

{% block javascript %}

<style>

#date_du_jour
{
    position:absolute;
    width: 2px;
    background: white;
    border: 2px solid blue;   
}

.chrono_plant
    {
    width: 30%;
    height: 75px;
    background: white;
    color: black;
    border: 5px solid green;
    }

#transfert_plant
    {
    text-align:left;
    padding:10px;
    width: 400px;
    height: 25	0px;
    background: white;
    color: black;
    border: 5px solid brown;
    position: absolute;
    }    
</style>

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/moment-with-locales.min.js"></script>
    <script type="text/javascript">
    
    s_info = ""
    date_debut_vue = "{{date_debut_vue|safe}}"
    date_fin_vue = "{{date_fin_vue|safe}}"
    date_du_jour = "{{date_du_jour|safe}}"
    decalage_j = {{decalage_j|safe}}
    // evenement par plant id
    l_evts_plants=[    {% for planche in l_planches %}{% for plant in planche.l_plants %}
			{% for evt in plant.l_evts %}  {"id":"{{evt.id}}",
											"nom":"{{evt.nom}}",
											"date":"{{evt.date|safe}}",
											"duree_j":"{{evt.duree_j}}",
											"type":"{{evt.type}}",
											"id_plant":"{{evt.plant_base_id}}"}{% if not forloop.last %},{% endif %}{% endfor%}
		{% endfor %}{% endfor %}]

function    init()
    {

    changelePas(0) // juste pour affichage 1 ere fois

    // nb px par jour en fonction des bornes , on ajoute 1 pour inclure le dernier jour plein 
    pxParH = window.getComputedStyle(document.getElementsByClassName("cadre_chrono")[0]).width.split('px')[0] / moment(date_fin_vue).diff(moment(date_debut_vue), 'hours')

    balisagePlants()
    
    // ajout ligne date du jour
    for (hplanche in document.getElementsByClassName("cadre_chrono"))
    	{
	    hplanche.getElementsByTagName("date_du_jour")[0].style.height = window.getComputedStyle(hplanche).height
	    delta = moment(date_du_jour).diff(moment(date_debut_vue), 'hours')
	    hBarreCeJour.style.marginLeft = delta * pxParH + "px" 
	    }
    //document.getElementById("divInfoDebug").innerHTML = s_info
    }
    
function  editeDeplacement(id_plant_orig)
    {
    	//alert("deplacement_id_plant  " + id_plant_orig)
    	hDiv = document.getElementById("transfert_plant")
    	hDiv.style.top = "200px"
    	hDiv.style.left = "100px"
    	document.getElementById("deplacement_id_plant").value = id_plant_orig
    	//hDiv.getElementsByName("deplacement_id_plant")[0].value = id_plant_orig
    	
    }    
function  deplacement(hForm, essai)
    {
	alert("deplacement du/des plant/s ")
	//recup param
	/*
	id_plant = 
	    	vers planche N°<input style="width: 30px" type="text" name="deplacement_planche_dest" value=""/><br/>
    	Distance inter-rang (cm)<input style="margin-left: 20px;width: 30px" type="text" name="deplacement_inter_rang_cm" value=""/><br/>
    	Distance dans le rang (cm) <input style="margin-left: 20px;width: 30px" type="text" name="deplacement_dans_rang_cm" value=""/><br/>
    	Déplacement total : oui<input id="deplacement_type" type="radio" value="total" />
    	non<input style="margin-right: 15px" type="radio" name="deplacement_type" value="partiel"/><br/>
    	Si non, nb de plants :<input style="margin-left: 20px;width: 30px" type="text" name="deplacement_nb_plants" value=""/><br/>
		<input type="submit" value="Essai" onclick="deplacement(this, 0)" />
		<input type="submit" value="Transfert" onclick="deplacement(this, 1)" />
	//appel servRequest
    // recup evts du plant
    s_request = "cde=deplacementPlant&id="+ id_plant
    s_request = "&interid="+ id_plant
    s_request = "cde=deplacementPlant&id="+ id_plant
    s_request = "cde=deplacementPlant&id="+ id_plant
    s_request = "cde=deplacementPlant&id="+ id_plant
    s_request = "cde=deplacementPlant&id="+ id_plant
    rep = requestServer(s_request)  
    jsonRep = JSON.parse(rep)
    if (jsonRep.status == 'true' )
        {
        //recuperation de la reponse
       
        }      	*/
    }
    
function  balisagePlants()
    {
    l_plants = document.getElementsByClassName("chrono_plant")
    for (ii=0;ii<l_plants.length;ii++)
        {
        // decalage debut
        debut = l_plants[ii].getAttribute("debut")
        deltaH = moment(debut).diff(moment(date_debut_vue), 'hours')
        l_plants[ii].style.marginLeft = deltaH * pxParH + "px" 
        // decalage fin
        fin = l_plants[ii].getAttribute("fin")
        deltaH = moment(fin).diff(moment(debut), "hours")
        l_plants[ii].style.width = deltaH * pxParH  + "px"
        // placement evenements divers
    	for (jj=0;jj<l_evts_plants.length;jj++)
    		{
    		if (l_evts_plants[jj]["id_plant"] != l_plants[ii].getAttribute("id"))
    			continue
            //positionnement des évènements
            deltaPx = moment(l_evts_plants[jj]["date"]).diff(moment(debut), 'hours') * pxParH  + "px"
            s_evt = "<img title='" + l_evts_plants[jj]["nom"] + '\n' + moment(l_evts_plants[jj]["date"]).format("DD/MM/YYYY") + "' src='{{STATIC_URL}}images/puce.png' style='margin-left:" + deltaPx + ";width:" + l_evts_plants[jj]["duree_j"] * 24 * pxParH + "px;height:13px'>"
            document.getElementById(l_plants[ii].getAttribute("id")).getElementsByClassName("evts")[0].innerHTML += s_evt
            }
        }
    }
    
function changelePas(delta)
{
    decalage_j += delta
    if (decalage_j < 1) decalage_j = 1
    document.getElementById("decalage_j").value = decalage_j
}

</script>

{% endblock %}

{% block title %}Suivi temporel des plants sur les planches{% endblock %}

{% block content %}

<p id="divInfoDebug"> </p>

<div id="main" style="text-align: center" >

<form action="" method="POST" accept-charset="utf-8">
{% csrf_token %}
Pour les planches <input style="width: 300px" type="text" name="num_planches" value=" {% for planche in l_planches %}{{planche.num}},{% endfor %}" />
<a href="{% url 'edition_planche' %}?num_planche={{planche.num}}"><img src="{{STATIC_URL}}images/editor.png" title="Editer"></a>
 Visionnage du <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />
<input style="margin-left: 20px" type="submit" value="Envoyer"/>
<input style="margin-left: 20px" type="submit" name="direction" value="recul"/>
<input type="submit" name="direction" value="avance"/>

Pas de <input style="width: 50px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}"/> jours 
<button onclick="changelePas(-1);return(false)">-</button><button onclick="changelePas(1);return(false)">+</button>
</form>

<br/><br/>
    {% for planche in l_planches %}
    Planche {{planche.num}}. {{planche.nom}}<br/>

    <div id="cadre_chrono_pl{{planche.id}}" class="cadre_chrono">
    <div class="date_du_jour_pl{{planche.id}}"> </div>

        {# plants existants en base #}
        {% for plant in planche.l_plants %}
        <div class="chrono_plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
        variete="{{plant.variete_id}}" debut="{{plant.evt_debut.date|safe}}" fin="{{plant.evt_fin.date|safe}}" >
        <div><div class="num_plant" style="display: inline;">({{plant.id}}) </div><div class="variete" style="display: inline;">
        {{plant.variete}} x {{plant.quantite}}</div> <a href="javascript:editeDeplacement({{plant.id}})">>></a><br/>
        <div class="debut" style="display: inline;float:left">{{plant.evt_debut.date|date:'d/m/Y'}}</div><br/><div class="fin" style="display:inline;float:right">{{plant.evt_fin.date|date:'d/m/Y'}}</div>
        <br/><div class="evts" style="display: inline;float:left"> </div></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div id="transfert_plant">
    	<h4>Déplacement de plants à partir de la planche virtuelle</h4>
    	Plant/s N°<input style="width: 30px;display: inline" type="text" id="deplacement_id_plant" value=""/>
    	vers planche N°<input style="width: 30px" type="text" id="deplacement_planche_dest" value=""/><br/>
    	Distance inter-rang (cm)<input style="margin-left: 20px;width: 30px" type="text" id="deplacement_inter_rang_cm" value=""/><br/>
    	Distance dans le rang (cm) <input style="margin-left: 20px;width: 30px" type="text" id="deplacement_dans_rang_cm" value=""/><br/>
    	Déplacement total : oui<input id="deplacement_type" type="radio" value="total" />
    	non<input style="margin-right: 15px" type="radio" id="deplacement_type" value="partiel"/><br/>
    	Si non, nb de plants :<input style="margin-left: 20px;width: 30px" type="text" id="deplacement_nb_plants" value=""/><br/>
		<input type="submit" value="Essai" onclick="deplacement(this, 0)" />
		<input type="submit" value="Transfert" onclick="deplacement(this, 1)" />


    </div>
        
</div>

{% endblock %}
