{% extends "base.html" %}

{% block javascript %}

<style>

#date_du_jour
{
    position:absolute;
    width: 2px;
    background: white;
    border: 2px solid blue;   
}

.chrono_plant
    {
    width: 30%;
    height: 75px;
    background: white;
    color: black;
    border: 5px solid green;
    }

#transfert_plant
    {
    width: 50%;
    height: 50%;
    background: white;
    color: black;
    border: 5px solid brown;
    }    
</style>

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/moment-with-locales.min.js"></script>

    <script type="text/javascript">
    
    s_info = ""
    date_debut_vue = "{{date_debut_vue|safe}}"
    date_fin_vue = "{{date_fin_vue|safe}}"
    date_du_jour = "{{date_du_jour|safe}}"
    decalage_j = {{decalage_j|safe}}
    NomEvtDeId = {  {% for evtType in l_typesEvt %} '{{evtType.id}}':'{{evtType.nom}}',{% endfor %}  }
    // evenement par planche id
    jsonEvts = '{"evts":[{% for evt in l_evts %}\
                {"id":"{{evt.id}}","nom":"{{evt.nom}}","date":"{{evt.date|safe}}","duree":"{{evt.duree_j}}","type":"{{evt.type}}","id_plant":"{{evt.plant_base_id}}"}{% if not forloop.last %},{% endif %}\
                {% endfor %}]}'	

    d_evtsPlanches = '{% for plancheId,l_evts in planchesEvts.items %}
					    	{
					    	"plancheId":{{plancheId}},
					    	"evts":[{% for evt in l_evts %}\
						     		{"id":"{{evt.id}}","nom":"{{evt.nom}}","date":"{{evt.date|safe}}","duree":"{{evt.duree_j}}","type":"{{evt.type}}","id_plant":"{{evt.plant_base_id}}"}{% if not forloop.last %},{% endif %}\
						            {% endfor %}]
	    			{% endfor %}}'	

function    init()
    {

    changelePas(0) // juste pour affichage 1 ere fois

    // nb px par jour en fonction des bornes , on ajoute 1 pour inclure le dernier jour plein 
    pxParH = window.getComputedStyle(document.getElementsByClassName("cadre_chrono")[0].width.split('px')[0] / moment(date_fin_vue).diff(moment(date_debut_vue), 'hours') 

    // creation d'une liste d'evts pour chaque id_plant
    hJsonEvts = JSON.parse(jsonEvts)
    EvtsDePlant = {}
    for (ii=0;ii<hJsonEvts.evts.length;ii++)
        {
        s_info += hJsonEvts.evts[ii].id_plant + " " + hJsonEvts.evts[ii].type + " " + hJsonEvts.evts[ii].date + '<br/>'
        if (EvtsDePlant[hJsonEvts.evts[ii].id_plant] == null)
            EvtsDePlant[hJsonEvts.evts[ii].id_plant] = new Array()
        EvtsDePlant[hJsonEvts.evts[ii].id_plant].push(hJsonEvts.evts[ii].id)
        }

    // creation d'une liste d'evts pour chaque id_plant pour chaque planche
    hJsonEvts = JSON.parse(jsonEvts)
    EvtsDePlant = {}
    for (ii=0;ii<hJsonEvts.evts.length;ii++)
        {
        s_info += hJsonEvts.evts[ii].id_plant + " " + hJsonEvts.evts[ii].type + " " + hJsonEvts.evts[ii].date + '<br/>'
        if (EvtsDePlant[hJsonEvts.evts[ii].id_plant] == null)
            EvtsDePlant[hJsonEvts.evts[ii].id_plant] = new Array()
        EvtsDePlant[hJsonEvts.evts[ii].id_plant].push(hJsonEvts.evts[ii].id)
        }

    //document.getElementById("divInfoDebug").innerHTML = s_info
    balisagePlants()
    
    // ajout ligne date du jour
    for (planche in a_planches)
    	{
    	id_planche = planche["id"]
    	hBarreCeJour = document.getElementById("date_du_jour_pl" + id_planche)
	    hBarreCeJour.style.height = window.getComputedStyle(document.getElementById("cadre_chrono_pl" + id_planche)).height
	    delta = moment(date_du_jour).diff(moment(date_debut_vue), 'hours')
	    hBarreCeJour.style.marginLeft = delta * pxParH + "px" 
	    }
    }
    
function  balisagePlants()
    {
    for (pl in EvtsDePlant)
        {
        debut = "" 
        fin = ""
        for (ii=0;ii<hJsonEvts.evts.length;ii++)
            {
            // on balaye plant par plant car les evt sont ordonnés par id_plant
            
            if (hJsonEvts.evts[ii].id_plant == pl)
                {
                if (hJsonEvts.evts[ii].type == '1')
                    {
                    debut = hJsonEvts.evts[ii].date
                    deltaDebutH = moment(hJsonEvts.evts[ii].date).diff(moment(date_debut_vue), 'hours')
                    // decalage debut
                    document.getElementById(hJsonEvts.evts[ii].id_plant).style.marginLeft = deltaDebutH * pxParH + "px" 
                    //mise à jour visuelle info date
                    document.getElementById(hJsonEvts.evts[ii].id_plant).getElementsByClassName("debut")[0].innerHTML = moment(debut).format("DD/MM/YYYY")
                    }
                else if (hJsonEvts.evts[ii].type == '2')
                    {
                    fin = hJsonEvts.evts[ii].date
                    deltaH = moment(fin).diff(moment(debut), 'hours')
                    document.getElementById(hJsonEvts.evts[ii].id_plant).style.width = deltaH * pxParH  + "px"
                    //mise à jour visuelle info date
                    document.getElementById(hJsonEvts.evts[ii].id_plant).getElementsByClassName("fin")[0].innerHTML = moment(fin).format("DD/MM/YYYY")
                    }
                else
                    {
                    //positionnement des autres évènements
                    deltaPx = moment(hJsonEvts.evts[ii].date).diff(moment(debut), 'hours') * pxParH  + "px"
                    s_evt = "<img title='" + hJsonEvts.evts[ii].nom + '\n' + moment(hJsonEvts.evts[ii].date).format("DD/MM/YYYY") + "' src='{{STATIC_URL}}images/puce.png' style='margin-left:" + deltaPx + ";width:" + hJsonEvts.evts[ii].duree_j * 24 * pxParH + "px;height:13px'>"
                    document.getElementById(hJsonEvts.evts[ii].id_plant).getElementsByClassName("evts")[0].innerHTML += s_evt
                    }
                }
            }
        }
    }
    
function changelePas(delta)
{
    decalage_j += delta
    if (decalage_j < 1) decalage_j = 1
    document.getElementById("decalage_j").value = decalage_j
}

</script>

{% endblock %}

{% block title %}Suivi temporel des plants sur les planches{% endblock %}

{% block content %}

<p id="divInfoDebug"> </p>

<div id="main" style="text-align: center" >

<form action="" method="POST" accept-charset="utf-8">
{% csrf_token %}
Pour les planches <input style="width: 300px" type="text" name="num_planches" value=" {% for planche in l_planches %}{{planche.num}},{% endfor %}" />
<a href="{% url 'edition_planche' %}?num_planche={{planche.num}}"><img src="{{STATIC_URL}}images/editor.png" title="Editer"></a>
 Visionnage du <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />
<input style="margin-left: 20px" type="submit" value="Envoyer"/>
<input style="margin-left: 20px" type="submit" name="direction" value="recul"/>
<input type="submit" name="direction" value="avance"/>

Pas de <input style="width: 50px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}"/> jours 
<button onclick="changelePas(-1);return(false)">-</button><button onclick="changelePas(1);return(false)">+</button>
</form>

<br/><br/>
    {% for planche in l_planches %}
    Planche {{planche.num}}<br/>

    <div id="cadre_chrono_pl{{planche.id}}" class="cadre_chrono">
    <div id="date_du_jour_pl{{planche.id}}"> </div>

        {# plants existants en base #}
        {% for plant in planche.l_plants %}
        <div class="chrono_plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
        variete="{{plant.variete_id}}" debut="{{plant.evt_debut.date|date:'d/m/Y'}}" fin="{{plant.evt_fin.date|date:'d/m/Y'}}" >
        <div><div class="num_plant" style="display: inline;">({{plant.id}}) </div><div class="variete" style="display: inline;">{{plant.variete}} x {{plant.quantite}}</div><br/>

        <div class="debut" style="display: inline;float:left">{{plant.evt_debut.date|date:'d/m/Y'}}</div><br/><div class="fin" style="display:inline;float:right">{{plant.evt_fin.date|date:'d/m/Y'}}</div>
        <br/><div class="evts" style="display: inline;float:left"> </div></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div id="transfert_plant">
    	Déplacement de plants <br/>
    	Vers planche <input style="margin-left: 20px" type="text" name="deplacement_planche_dest" value=""/><br/>
    	distance inter-rang (cm)<input style="margin-left: 20px" type="text" name="deplacement_inter_rang_cm" value=""/><br/>
    	distance dans le rang (cm) <input style="margin-left: 20px" type="text" name="deplacement_dans_rang_cm" value=""/><br/>
    	Déplacement total : oui<input id="deplacement_type" type="radio" value="total" />
    	non<input style="margin-left: 20px" type="radio" name="deplacement_type" value="partiel"/>
    	nb de plants <input style="margin-left: 20px" type="text" name="deplacement_nb_plants" value=""/>


    </div>
        
</div>

{% endblock %}
