{% extends "base.html" %}


{% block title %}Création de planches {% endblock %}

{% block content %}

<div class="BlueFrame"> 
    <p><b>Création d'une collection de planches de même type</b></p>
    <form action="" method="POST">
    {% csrf_token %}
    <table>
    <tr><td>Nombre de planches</td><td> <input style="width: 50px" type="text" value="" name="quantite"/></td></tr>
    <tr><td>Longueur (m)</td><td><input style="width: 50px" type="text" value="" name="longueur_m"/></td></tr>
    <tr><td>Largeur (cm)</td><td><input style="width: 50px" type="text" value="" name="largeur_cm"/></td></tr>
    <tr><td>Sous Serre</td><td><input type="checkbox" value="" name="bSerre"/></td></tr>
    <tr><td></td><td><input type="submit" value="Sauver" /></td></tr>
    </table>
    </form>

</div>

{% endblock %}
