{% extends "base.html" %}

{% block title %}Bienvenue !{% endblock %}

{% block content %}

<div class="BlueFrame">
<h2>Sommaire
<ul>
  <li><a href="{% url 'tab_varietes' %}">Tableau des variétés</a></li>
  <li><a href="{% url 'quizFamilles' %}">Quiz Familles et Variétés</a></li>
  <li><a href="{% url 'creation_planches' %}">Création des planches</a></li>
  <li><a href="{% url 'prevision_recolte' %}">Prévision de récolte</a></li>
  <li><a href="{% url 'evenements' %}">Liste des évenements</a></li>
  <li><a href="{% url 'chrono_planches' %}?nom_planches=">Chrono séries</a></li>
  <li><a href="../admin">Admin</a></li>
    
</ul>
</h2>	    

</div>
<div class="BlueFrame">
<h2>A faire</h2>

<br/>
bug nb de pieces erroné en production verif legumes.csv 
<br/>
 gestion deplacement partiel<br/>
 edition des parametres legumes
 <br/>
 <br/>
 <br/>
 
</div>

{% endblock %}
