{% extends "base.html" %}

{% block title %}Prévision de récoltes et livraisons par semaine{% endblock %}

{% block javascript %}

<script type="text/javascript">
tab_previsions = {{tab_previsions|safe}} // liste de semaine, var, masse
d_cumul_hebdo = {
				{% for semaine in l_semaines %}
			  	"{{semaine.date_debut|date:'Y-m-d'}}":0,
			  	{% endfor %}
			  	}
d_cumul_var = 	  {
	              {% for leg in l_legumes %}
	              "{{leg.id}}":0,
	              {% endfor %}
	              }

function init()
    {
    // peuplement du tableau 
    for(ii=0;ii<tab_previsions.length;ii++)
            {
            d_cumul_hebdo[tab_previsions[ii][0]] += tab_previsions[ii][2]
            d_cumul_var[tab_previsions[ii][1]] += tab_previsions[ii][2]
            s_id = ["p", tab_previsions[ii][0], tab_previsions[ii][1]].join("__") 
            document.getElementById(s_id).value = tab_previsions[ii][2] + ' prod:' + tab_previsions[ii][3]
            }
            
    // maj total de la semaine 
    for (key in d_cumul_hebdo)
        document.getElementById("ts__" + key).innerHTML = d_cumul_hebdo[key]
    // maj total par variété pour toute la période vue
    for (key in d_cumul_var)
        document.getElementById("tv__" + key).innerHTML = d_cumul_var[key]
       
    }
    

</script>

{% endblock %}


{% block content %}

<div class="BlueFrame" >
<p id="divInfoDebug"> </p>


<form action="" method="POST" accept-charset="utf-8">
{% csrf_token %}
<input name="serres" type="checkbox" {% if selection_serres %}checked{% endif %} /> Serres 
<input name="champs" type="checkbox" {% if selection_champs %}checked{% endif %} /> Champs 
&nbsp;&nbsp;
 Pour les planches   <input style="width: 300px" type="text" name="id_planches" value="{% for planche in l_planches %}{{planche.id}},{% endfor %}" />
 Visionnage du      <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />
                    <input style="margin-left: 20px" type="submit" value="Envoyer" />
                    <input style="margin-left: 20px" type="submit" name="direction" value="recul" />
<input type="submit" name="direction" value="avance" />
Pas de <input style="width: 50px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}" /> jours 
<button onclick="changelePas(-1);return(false)">-</button><button onclick="changelePas(1);return(false)">+</button>
</div>


    <table border="1">
        <tr><th>Produits/Semaines</th>
            {% for semaine in l_semaines %}
                <td align="center">Semaine {{semaine.date_debut_sem_iso}}<br/>du {{semaine.date_debut|date:'d/m/Y'}}<br/>au {{semaine.date_fin|date:'d/m/Y'}}</td>
            {% endfor %}
            <th align="center">Total</th>
        </tr>
        
        {% for leg in l_legumes %}
        <tr>
            <td>{{leg.nom|title}}<br/><small> ({{leg.espece.nomUniteProd}})</small></td>
            
            {% for t_prod in leg.l_prod %}
            <td>Sem du {{t_prod.0|date:'d-m-Y'}}<br/>
            Estimé : {{t_prod.1}}<br/>
            Réel : <input style="width:50px;font-weight:bold;text-align: center" type="text" name="p__{{t_prod.0|date:'Y-m-d'}}__{{leg.id}}" id="p__{{t_prod.0|date:'Y-m-d'}}__{{leg.id}}"/>
            </td>
            {% endfor %}

            <td><div style="font-weight:bold;text-align: center" id="t__{{leg.id}}"> </div></td>
        </tr>
        {% endfor %}
        

        <tr><th>Total</th>{# ligne de total des qte de legumes par semaine #}
        {% for semaine in l_semaines %}
        <td><div style="font-weight:bold;text-align:center" id="ts__{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}
        </tr>
        
    </table>
    <br/>
    <input type="submit" name="commande" value="Enregistrer">

    </form>
{% endblock %}
