{% extends "base.html" %}

{% block title %}Prévision de récoltes par semaine{% endblock %}

{% block javascript %}

<script type="text/javascript">
tab_previsions = {{tab_previsions|safe}} // liste de semaine, var, masse
d_cumul_hebdo = 	{
				{% for semaine in l_semaines %}
			  	"{{semaine.1|date:'Y-m-d'}}":0,
			  	{% endfor %}
			  	}
d_cumul_var = 	  {
	              {% for var in l_vars %}
	              "{{var.id}}":0,
	              {% endfor %}
	              }

function init()
    {
    // peuplement du tableau 
    for(ii=0;ii<tab_previsions.length;ii++)
            {
            d_cumul_hebdo[tab_previsions[ii][0]] += tab_previsions[ii][2]
            d_cumul_var[tab_previsions[ii][1]] += tab_previsions[ii][2]
            s_id = ["p", tab_previsions[ii][0], tab_previsions[ii][1]].join("__") 
            document.getElementById(s_id).value = tab_previsions[ii][2]
            }
            
    for (key in d_cumul_hebdo)
        document.getElementById("ts__" + key).innerHTML = d_cumul_hebdo[key]
       
    for (key in d_cumul_var)
        document.getElementById("tv__" + key).innerHTML = d_cumul_var[key]
       
    }
    

</script>

{% endblock %}


{% block content %}

<div class="BlueFrame" >
    {{info}}
    <form action="" method="POST">
    <p>Visionnage du <input style="width:100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" /></p>
    {% csrf_token %}

    <table>
        <tr><th>Produits/Semaines</th>
            {% for semaine in l_semaines %}
                <td align="center">Semaine {{semaine.0.1}}<br/>du {{semaine.1|date:'d/m/Y'}}<br/>au {{semaine.2|date:'d/m/Y'}}</td>
            {% endfor %}
            <th align="center">Total</th>
        </tr>
        
        {% for var in l_vars %}
        <tr>
            <td>{{var.nom}} <small>({{var.nomUniteProd}})</small></td>
            
            {% for semaine in l_semaines %}
            <td><input style="width:100px;font-weight:bold;text-align: center" type="text" name="p__{{semaine.1|date:'Y-m-d'}}__{{var.id}}" id="p__{{semaine.1|date:'Y-m-d'}}__{{var.id}}"/></td>
            {% endfor %}

            <td><div style="font-weight:bold;text-align: center" id="tv__{{var.id}}"> </div></td>
        </tr>
        {% endfor %}
        

        <tr><th>Total</th>{# ligne de total des qte de legumes par semaine #}
        {% for semaine in l_semaines %}
        <td><div style="font-weight:bold;text-align:center" id="ts__{{semaine.1|date:'Y-m-d'}}"> </div></td>
        {% endfor %}
        </tr>
        
    </table>
    <br/>
    <input type="submit" name="commande" value="Enregistrer">
    Planifier les plantations<input type="checkbox" name="option_planif" />

    </form>
</div>
{% endblock %}
