{% extends "base.html" %}
{% block javascript %}{% endblock %}

{% block title %}Jeux des familles{% endblock %}

{% block content %}

<div class="BlueFrame" style="width: 60%;margin-left:20%">

<p><b>{{message}}</b></p>
<br/>
<h2>Parmi les familles suivantes, quelle est celle de la variété : {{form.var.nom}} ?</h2>

<form action="" method="POST" >
    {% csrf_token %}
    
    {# liste des familles possibles#}
    <ul>
    {% for choice in form.l_choices%}
    <li style="list-style-type: none;"><label for="id_famChoice_{{choice.0}}"><input id="id_famChoice_{{choice.0}}" name="famChoice" type="radio" value="{{choice.0}}" /> {{choice.1|title}}</label></li>
    {% endfor%}
    </ul>
    
    <input type="hidden" name="variete" value="{{form.var.id}}" />
    <input type="submit" value="OK" />
</form>

</div>
{% endblock %}
