{% extends "base.html" %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
<script type="text/javascript">


l_sems = [{% for sem in l_semaines %}"{{sem.date_debut|date:'Y-m-d'}}"{% if not forloop.last %},{% endif %}{% endfor %}]
l_legs = [{% for leg in l_legumes %}{{leg.id}}{% if not forloop.last %},{% endif %}{% endfor %}]
l_especes = [{% for esp in l_especes %}{{esp.id}}{% if not forloop.last %},{% endif %}{% endfor %}]
l_couleur_esp = { {% for esp in l_especes %}{{esp.id}}:"{{esp.couleur}}"{% if not forloop.last %},{% endif %}{% endfor %}}
nbPanniers = {{nbPanniers}}

function enregistreRecolte(ptDiv)
    {
    divRecLeg = document.getElementById("r__sem_" + ptDiv.getAttribute("date") + "__leg_" + ptDiv.getAttribute("leg"))
    rep = requestServer("cde=enregistre_recolte&date_sem=" + ptDiv.getAttribute("date") + "&id_leg=" + ptDiv.getAttribute("leg") + "&qte=" + divRecLeg.value)
    }

function init()
    {
    // maj légumes total par semaine (kg)
    cumulTotal = 0       
    for (ii=0;ii<l_sems.length;ii++)
        {
        cumul = 0
        for (jj=0;jj<l_legs.length;jj++)
            {
            poidsL = parseInt(document.getElementById("sem_" + l_sems[ii] + "__leg_" + l_legs[jj]).getAttribute("poids"))
            cumul += poidsL
            //alert("sem:" + l_sems[ii] + " leg:" + l_legs[jj] + " poidsL:" + poidsL +" cumul:" + cumul)
            }
        document.getElementById("ts_" + l_sems[ii]).innerHTML = cumul
        document.getElementById("tlpp_" + l_sems[ii]).innerHTML = cumul/nbPanniers
        cumulTotal += cumul
        }   
    document.getElementById("totalTotal").innerHTML = cumulTotal
    
    // maj total par légume (kg)
    for (ii=0; ii<l_legs.length; ii++)
        {
        cumul = 0
        for (jj=0;jj<l_sems.length;jj++)
            cumul += parseInt(document.getElementById("sem_" + l_sems[jj] + "__leg_" + l_legs[ii]).getAttribute("qte"))
        document.getElementById("tl_" + l_legs[ii]).innerHTML = cumul
        }
    
    // maj total par espèce pour toutes les semaines
    for (ee=0; ee<l_especes.length; ee++)
        {
        cumulTETS = 0 // total especes toutes les semaines   
        for (ss=0;ss<l_sems.length;ss++)
            {
            cumulEPS = 0
            for (ll=0;ll<l_legs.length;ll++)
                {
                divLeg = document.getElementById("sem_" + l_sems[ss] + "__leg_" + l_legs[ll])
                esp_id = parseInt(divLeg.getAttribute("esp_id"))
                if( esp_id != l_especes[ee])
                    continue
                qte = parseInt(divLeg.getAttribute("qte"))
                cumulEPS += qte
                cumulTETS += qte
                }

            id =  document.getElementById("sem_" + l_sems[ss] + "__esp_" + l_especes[ee])
            id.innerHTML = cumulEPS
            if (cumulEPS >0)
                { 
                id.style.border = "5px solid " + l_couleur_esp[l_especes[ee]]
                id.style.textAlign="center"
                }
            else
                id.style.display = "none"    
            }
        document.getElementById("tets_" + l_especes[ee]).innerHTML = cumulTETS
        }   
        
    // maj total par semaine pour toutes les especes  en Kg
    total_etets = 0
    for (ss=0;ss<l_sems.length;ss++)
        {
        cumul_eps = 0 // totalde chaque semaine pour ttes les especes
        for (ee=0; ee<l_especes.length; ee++)
            {
            cumulEPS = 0
            for (ll=0;ll<l_legs.length;ll++)
                {
                divLeg = document.getElementById("sem_" + l_sems[ss] + "__leg_" + l_legs[ll])
                esp_id = parseInt(divLeg.getAttribute("esp_id"))
                if( esp_id != l_especes[ee])
                    continue
                pds = parseInt(divLeg.getAttribute("poids"))
                cumul_eps += pds
                }        
               
            }
        document.getElementById("tets_" + l_sems[ss]).innerHTML = cumul_eps
        document.getElementById("tepspp_" + l_sems[ss]).innerHTML = cumul_eps /nbPanniers
        total_etets += cumul_eps
        }           
        total_etets
        document.getElementById("total_etets").innerHTML = total_etets

    }

</script>

{% endblock %}

{% block title %}Prévision de récoltes et livraisons par semaine{% endblock %}

{% block content %}

    <p id="divInfoDebug"> </p>
    
    
    <form action="" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <div class="BlueFrame" style="width:100%">

    <input type="submit" name="direction" value="avance" /> 
    <input style="margin-left: 10px" type="submit" name="direction" value="recul" />
    
    Par pas de <input style="width: 30px" type="text" id="decalage_j" name="decalage_j" value="{{decalage_j}}" /> jours 
    <button onclick="changelePas(-1);return(false)">-</button>
    <button onclick="changelePas(1);return(false)">+</button>
    <br/>
     <input type="radio" name="periode" value="annee" {% if periode == "annee" %}checked{% endif %}>Cette année
     <input type="radio" name="periode" value="mois" {% if periode == 'mois' %}checked{% endif %}>Ce mois
     <input type="radio" name="periode" value="semaine" {% if periode == 'semaine' %}checked{% endif %}>Cette semaine
     <input type="radio" name="periode" value="specifique" {% if periode == 'specifique' %}checked{% endif %}>Spécifique
     du <input style="width: 100px" type="text" name="date_debut_vue" value="{{date_debut_vue|date:'d/m/Y'}}" /> 
     au <input style="width: 100px" type="text" name="date_fin_vue" value="{{date_fin_vue|date:'d/m/Y'}}" />

    <input type="radio" name="detail" value="espece">Regroupé par espèce
    <input type="radio" name="detail" value="variete" >Détaillé par variété

    <input style="margin-left: 20px" type="submit" value="Envoyer" />

    </div>    
    </form>
    <p>
    <table border="1" >
        <tr><th>Produits/Semaines</th>
            {% for semaine in l_semaines %}
                <td align="center">Semaine {{semaine.date_debut_sem_iso}}<br/>du {{semaine.date_debut|date:'d/m/Y'}}<br/>au {{semaine.date_fin|date:'d/m/Y'}}</td>
            {% endfor %}
            <th align="center">Total (kg)</th>
        </tr>
        
        {% for leg in l_legumes %}
        <tr>
            <td>{{leg.nom|title}}<br/><small> ({{leg.espece.nomUniteProd}})</small></td>
            
            {% for t_prod in leg.l_prod %}
            <td>{{t_prod.0|date:'d/m/Y'}}<br/>
                <div id="sem_{{t_prod.0|date:'Y-m-d'}}__leg_{{leg.id}}"
                        esp_id="{{leg.espece.id}}"
                        qte="{{t_prod.1}}" 
                        poids="{{t_prod.2}}" 
                        style="border:5px solid {{t_prod.4}}">Estimé : {{t_prod.1}}</div>
            Réel<input  type="text"
                        name="reel"
                        style="width:30px;font-weight:bold;text-align: center" 
                        id="r__sem_{{t_prod.0|date:'Y-m-d'}}__leg_{{leg.id}}"
                        value="{{t_prod.5}}" />
    
                <img    src="{{ STATIC_URL }}images/ok.png" 
                        style="width:15px;heigth:15px;cursor:pointer"
                        date="{{t_prod.0|date:'Y-m-d'}}"
                        leg="{{leg.id}}"
                        title="Valider"
                        onmouseover=""
                        onclick="enregistreRecolte(this);return(false)"
                        />
            </td>
            {% endfor %}
            <td><div style="font-weight:bold;text-align: center" id="tl_{{leg.id}}"> </div></td>
        </tr>
        {% endfor %}
        

        <tr>
            <th>Total estimé (kg)</th>{# ligne de total des qte de legumes par semaine #}
        {% for semaine in l_semaines %}
            <td><div style="font-weight:bold;text-align:center" id="ts_{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}

        <td><div id="totalTotal" style="font-weight:bold;text-align:center"> </div></td>
        </tr>
        
        <tr><th>Total (kg) par pannier</th>{# ligne de total des qte de legumes par semaine #}
        {% for semaine in l_semaines %}
        <td><div style="font-weight:bold;text-align:center" id="tlpp_{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}

        <td><div id="totalTotal" style="font-weight:bold;text-align:center"> </div></td>
        </tr>        
    </table>
    </p>
    
    <input type="submit" name="commande" value="Enregistrer">

    
    <hr/>
    
    <!------------------- tableau par especes -------------------------->
    
    <table border="1">
        <tr><th>Produits/Semaines</th>
            {% for semaine in l_semaines %}
                <td align="center">Semaine {{semaine.date_debut_sem_iso}}<br/>du {{semaine.date_debut|date:'d/m/Y'}}<br/>au {{semaine.date_fin|date:'d/m/Y'}}</td>
            {% endfor %}
            <th align="center">Total (kg)</th>
        </tr>
        
        {% for esp in l_especes %}
        <tr>
            <td>{{esp.nom|title}}<br/><small> ({{esp.nomUniteProd}})</small></td>
            
            {% for semaine in l_semaines %}            
            <td>{{semaine.date_debut|date:'d/m/Y'}}<br/>
            <div id="sem_{{semaine.date_debut|date:'Y-m-d'}}__esp_{{esp.id}}"> xx </div>    
            </td>
            {% endfor %}
            <td><div style="font-weight:bold;text-align: center" id="tets_{{esp.id}}"> </div></td>
        </tr>
        {% endfor %}
        

        <tr><th>Total (kg)</th>{# ligne de total des quantités de l'espece par semaine #}
        {% for semaine in l_semaines %}
        <td><div style="font-weight:bold;text-align:center" id="tets_{{semaine.date_debut|date:'Y-m-d'}}"> </div></td>
        {% endfor %}
        <td id="total_etets" style="font-weight:bold;text-align:center"> </td>
        </tr>
        
        <tr><th>Total (kg) par pannier</th>{# ligne de total des qte par pannier, par espece et par semaine #}
        {% for semaine in l_semaines %}
        <td style="font-weight:bold;text-align:center" id="tepspp_{{semaine.date_debut|date:'Y-m-d'}}" > </td>
        {% endfor %}

        <td id="total_etspp" style="font-weight:bold;text-align:center"> </td>
        </tr>        
    </table>
    
        
{% endblock %}
