{% extends "base.html" %}

{% block title %}Légumes, espèces et variétés{% endblock %}

{% block javascript %}
<script type="text/javascript">function  init() {}</script>
{% endblock %}

{% block content %}

<div class="BlueFrame" style="list-style-type: none;width: 50%; margin-left: 3%">

<form action="" method="POST">
{% csrf_token %}

{{info}}
<h2>Légumes</h2><hr />
{% for leg in l_legumes %}
 
      <table>
          <tr>
          {% if leg.image %}<td><img style="float:left;width: 80px;height: 80px;margin: 10px" src="{{MEDIA_URL}}{{var.image}}" title="{{var.nom}}" /></td>{% endif %}
          <td><h2>{{leg.espece.nom|title}} {{leg.variete.nom|title}}</h2>
            <p>{{leg.espece.famille.nom|title}}</p>
            
            <!-- 
            Plantation possible du
            <input style="width:40px" type="text" name="v_{{var.pk}}_date_min_plantation_pc" value="{{leg.variete.date_min_plantation_pc}}" />
            au
            <input style="width:40px" type="text" name="v_{{leg.variete.pk}}_date_max_plantation_pc" value="{{leg.variete.date_min_plantation_pc}}" />
            en plein champ <br />
            Plantation possible du
            <input style="width:40px" type="text" name="v_{{leg.variete.pk}}_date_min_plantation_sa" value="{{leg.variete.date_min_plantation_sa}}" />
            au
            <input style="width:40px" type="text" name="v_{{leg.variete.pk}}_date_max_plantation_sa" value="{{leg.variete.date_max_plantation_sa}}" />
            sous abris<br />
            Durée de pousse avant récolte plein champ (jours) : <input style="width: 40px" type="text" name="v_{{leg.pk}}_duree_avant_recolte_pc_j" value="{{leg.duree_avant_recolte_pc_j}}" /> <br/>
            Durée de pousse avant récolte sous abris (jours) : <input style="width: 40px" type="text" name="v_{{leg.pk}}_duree_avant_recolte_sa_j" value="{{leg.duree_avant_recolte_sa_j}}" /> <br/>
            -->
            Distance conseillée dans le rang (cm) : <input style="width:40px" type="text" name="v_{{leg.pk}}_intra_rang_cm" value="{{leg.intra_rang_cm}}" /> <br/>
            Distance conseillée entre les rangs (cm) : <input style="width:40px" type="text" name="v_{{leg.pk}}_inter_rang_cm" value="{{leg.inter_rang_cm}}" /> <br/>
            Unité de comptage : <input style="width: 40px" type="text" name="v_{{leg.pk}}_nomUniteProd" value="{{leg.nomUniteProd}}" /><br/>
            Rendement plants/graines (%):  <input style="width:40px" type="text" name="v_{{leg.pk}}_rendement_plants_graines_pourcent" value="{{leg.rendement_plants_graines_pourcent}}" /> <br/>
            Rendement estimé (kg/m2) <input style="width: 40px" type="text" name="v_{{leg.pk}}_prod_kg_par_m2" value="{{leg.rendementProduction_kg_m2}}" /> <br/>
            </td>
          </tr>
          <tr>
              
          </tr>
      </table>
      {% if leg.espece.avec.distinct %} <img src="{{ STATIC_URL }}images/smileyOK.jpg" width="32px" height="32px"  title="Avec"/> 
      {% for varAvec in leg.espece.avec.distinct %}{{varAvec.nom|title}}, {% endfor %} <br/>
      {% endif %}
      {% if leg.espece.sans.distinct %} <img src="{{ STATIC_URL }}images/smileyKO.jpg" width="32px" height="32px"  title="Sans"/>
      {% for varSans in leg.espece.sans.distinct %}{{varSans.nom|title}}, {% endfor %} <br/>
      {% endif %}
	<input style="margin-left: 20px" type="submit" value="Sauver"/>
	<hr />
{% endfor %}
</form>
</div>


<ul class="BlueFrame" style="list-style-type: none;">
<h2>Familles et variétés</h2><hr/>
{% for f in l_fams %}
  <li><b>{{f.nom|title}}</b>
	<ul>
	{% for esp in f.l_especes %}
	   <li>{{esp.nom|title}}</li>
	{% endfor %}
	</ul>
  
  </li>
  
{% endfor %}
</ul>


{% endblock %}
